<div class="pagina-seccion">
    Fase 1: Autoevaluación del desempeño ({{ activos[0].configuracion.peso1|default(pesos[0]) }}%)
</div>

<div class="container-fluid my-2">
    <a data-bs-toggle="collapse" href="#acordeonAuto" aria-expanded="false" aria-controls="acordeonAuto">
        <em class="me-2 fas fa-info-circle text-info"></em>
        Pulsar para obtener más detalle del procedimiento.
    </a>
</div>
<div class="collapse" id="acordeonAuto">
    <div class="container-fluid my-2 fw-bold">
        Artículos 9 y 11, y anexo del "Cuestionario de evaluación de competencias profesionales".
    </div>
    <div class="container-fluid my-2">
        La autoevaluación de las competencias se realiza mediante la cumplimentación del cuestionario de
        evaluación de competencias profesionales. Cada conducta incluida en el cuestionario deberá ser
        valorada por la propia persona empleada pública, aplicando una escala Likert de 1 a 10 (siendo 1 el
        valor mínimo y 10 el valor máximo).
    </div>
    <div class="container-fluid my-2">
        Para cada conducta profesional con valores comprendidos en el intervalo 5 a 7, no es obligatorio
        indicar evidencias.
    </div>
    <div class="container-fluid my-2">
        Para cada conducta profesional con valores comprendidos en los intervalos de 1 a 4, y de 8 a 10,
        todos los agentes evaluadores deberán indicar una o varias evidencias específicas que sirvan de
        justificación del valor otorgado a esta.
    </div>
    <div class="container-fluid my-2">
        En caso de que la evidencia o conducta específica señalada no se considere adecuada como
        justificación del valor numérico otorgado, este podrá no ser tenido en cuenta en el resultado de
        la evaluación en el supuesto de desviación de las puntuaciones en más de 5 puntos entre las
        otorgadas por la persona responsable y la autoevaluación.
    </div>
    <div class="container-fluid my-2">
        La autoevaluación por parte de la persona empleada pública tiene un valor ponderado del
        {{ activos[0].configuracion.peso1|default(pesos[0]) }}%, con respecto a la puntuación máxima de la
        evaluación de la conducta profesional.
    </div>
    <div class="container-fluid my-2">
        Para más detalle sobre los criterios de valoración a aplicar por cada intervalo de valores de 1 a 4,
        de 5 a 8 y de 9 a 10, consultar el cuestionario facilitado en
        <a href="#documentos">documentos de interés</a>.
    </div>
    <div class="container-fluid my-2 bg-info bg-opacity-50">
        Para facilitar la evaluación y la interpretación de los resultados, a efectos orientativos, puede
        consultar las escalas Likert propuestas por la Universidad de Sevilla en
        <a href="#documentos">documentos de interés</a>.
    </div>
</div>
<ul class="lead my-3">
    {%- if activos[0].fechaAlta > date() %}
        <div class="alert alert-warning">
            El cuestionario estará disponible entre los días {{ activos[0].fechaAlta|date('d/m/Y') }} y
            {{ activos[0].fechaBaja|date('d/m/Y') }}. Puede consultar el texto en el apartado
            <a href="#documentos">documentos de interés</a>.
        </div>
    {%- elseif activos[0].fechaBaja < date() %}
        <div class="alert alert-warning">
            El plazo para cumplimentar el cuestionario terminó el día {{ activos[0].fechaBaja|date('d/m/Y') }}.
            Si existe alguna incidencia, puede comunicarla en el apartado
            <a href="#incidencias1">Revisar o comunicar incidencias del proceso de autoevaluación</a>.
        </div>
    {%- elseif evaluados|length == 0 %}
        <div class="alert alert-warning">
            El empleado actualmente no tiene cuestionario asignado.
            Si existe alguna incidencia, puede comunicarla en el apartado
            <a href="#incidencias1">Revisar o comunicar incidencias del proceso de autoevaluación</a>.
        </div>
    {%- elseif rechazado %}
        <div class="alert alert-warning">
            <em class="mx-1 fas fa-triangle-exclamation"></em>Usted ha solicitado no ser evaluado.<br>
            {% if not rechazado -%}
                <a id="recupera" href="" data-url="{{ activos[0].url ~ '/recupera' }}">
                    Volver a activar mi participación (solo disponible hasta el día
                    {{ activos[0].fechaBaja|date('d/m/Y') }}, inclusive)
                </a>
            {%- endif %}
        </div>
    {%- else %}
        {%- if evaluados|filter(e => e.habilita)|length == 0 %}
            {#- Opciones antes de evaluar #}
            <li>Antes de empezar la autoevaluación, elija una de las siguientes opciones:</li>
            <ul>
                <li>
                    <a id="habilita" href="" data-url="{{ activos[0].url ~ '/habilita' }}">
                        Doy mi habilitación para ser evaluado en mi actual puesto desempeñado
                    </a>
                </li>
                {%- if not rechazado %}
                    <li>
                        <a id="rechaza" href="" data-url="{{ activos[0].url ~ '/rechaza' }}">
                            Solicito no participar en el proceso de autoevaluación del desempeño
                        </a>
                    </li>
                {%- endif %}
            </ul>
        {%- else %}
            {#- Evaluación #}
            <li>
                <a class="fw-bold" href="{{ activos[0].url }}">
                    Realizar o consultar el cuestionario para su autoevaluación de competencias
                </a>
            </li>
        {%- endif %}
    {%- endif %}
    <li><a href="{{ activos[0].url ~ '/evaluador' }}">Comprobar evaluadores</a></li>
    <li>
        <a id="incidencias1" href="{{ activos[0].url ~ '/incidencia' }}">
            Revisar o comunicar incidencias del proceso de autoevaluación
        </a>
    </li>
</ul>