{% extends path(aplicacion.ruta) ~ '/index.html.twig' %}

{% block content %}
    <div class="badge-primary rounded-pill float-end">{{ evaluador.persona }}</div>
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">Cuestionario {{ cuestionario.titulo }}</div>
    <div class="my-4">
        <table class="tabla-condensada" id="datosEmpleados">
            <thead class="cabecera-condensada">
                <tr>
                    <th>Unidad</th>
                    <th>Empleado</th>
                    <th data-dt-order="disable">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {%- for evaluacion in evaluaciones %}
                <tr>
                    <td>
                        {{- evaluacion.empleado.plazaOcupada ? evaluacion.empleado.plazaOcupada.unidad.nombre
                        : (evaluacion.empleado.plazaTitular ? evaluacion.empleado.plazaTitular.unidad.nombre) -}}
                    </td>
                    <td>{{ evaluacion.empleado.persona }}</td>
                    <td>
                        <a href="{{ cuestionario.url ~ '/' ~ evaluacion.empleado.id }}">
                            <em class="mx-1 fas fa-user-pen" title="Evaluar"></em>
                        </a>
                        <em class="mx-1 fas fa-ear-listen" title="incidencia"></em>
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block botones %}
    <li class="nav-item me-2">
{#        <a class="btn btn-primary" href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_new') }}">#}
            <span class="fas fa-plus"></span> Incidencia
{#        </a>#}
    </li>
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta) }}">
            <em class="me-1 fas {{ aplicacion.icono }}"></em>{{ aplicacion.nombreCorto }}
        </a>
    </li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $('#datosEmpleados').dataTable({
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1],
                    },
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1],
                        stripHtml: false,
                    },
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0, 1],
                    },
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1],
                    },
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
        });
    </script>
{% endblock %}
