{% extends path(aplicacion.ruta) ~ '/index.html.twig' %}

{% block content %}
    <div class="badge-primary rounded-pill float-end">{{ app.user.persona }}</div>
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">Cuestionario {{ cuestionario.titulo }}</div>
    <div class="my-4">
        <table class="tabla-condensada" id="datosEmpleados">
            <thead class="cabecera-condensada">
                <tr>
                    <th>Unidad</th>
                    <th>Empleado</th>
                    <th>Tipo evaluación</th>
                    <th class="text-start">Enviado</th>
                    <th data-dt-order="disable">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {%- for evaluacion in evaluaciones %}
                <tr>
                    <td>
                        {{- evaluacion.empleado.plazaOcupada ? evaluacion.empleado.plazaOcupada.unidad.nombre
                        : (evaluacion.empleado.plazaTitular ? evaluacion.empleado.plazaTitular.unidad.nombre) -}}
                    </td>
                    <td>{{ evaluacion.empleado.persona }}</td>
                    <td>
                        {%- if evaluacion.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') -%}
                            Responsable/Principal
                        {%- elseif evaluacion.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') -%}
                            Tercer agente
                        {%- else -%}
                            <span class="badge-warning">Desconocido</span>
                        {%- endif -%}
                    </td>
                    <td class="text-start">
                        {{- evaluacion.formulario and evaluacion.formulario.fechaEnvio ? evaluacion.formulario.fechaEnvio|date('Y-m-d') -}}
                    </td>
                    <td>
                        {% if evaluacion.formulario and evaluacion.formulario.fechaEnvio is not null %}
                            <a href="{{ cuestionario.url ~ '/' ~ evaluacion.empleado.id }}">
                                <em class="mx-1 fas fa-envelope" title="Ver evaluación"></em>
                            </a>
                            <a href="{{ cuestionario.url ~ '/pdf/' ~ evaluacion.empleado.id }}">
                                <em class="mx-1 fas fa-file-pdf" title="PDF"></em>
                            </a>
                        {%- else %}
                            <a href="{{ cuestionario.url ~ '/' ~ evaluacion.empleado.id }}">
                                <em class="mx-1 fas fa-user-pen" title="Evaluar"></em>
                            </a>
                        {%- endif %}
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block botones %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{{ path(aplicacion.ruta ~ '_formulario_incidencia_new', {codigo: cuestionario.url|u.afterLast('/')}) }}">
            <em class="fas fa-ear-listen"></em> Nueva Incidencia
        </a>
    </li>
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta) }}">
            <em class="me-1 fas {{ aplicacion.icono }}"></em>{{ aplicacion.nombreCorto }}
        </a>
    </li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $('#datosEmpleados').dataTable({
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2],
                    },
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2],
                    },
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0, 1, 2],
                    },
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2],
                    },
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
            order: [
                [3, 'desc'],
            ],
        });
    </script>
{% endblock %}
