{% extends 'desempenyo/index.html.twig' %}

{% block content %}
    <div class="badge-primary rounded-pill float-end">{{ app.user.empleado }}</div>
    <div class="pagina-titulo">{{ titulo }}</div>
    <div class="my-4">
        <div>
            En este apartado puede comprobar las personas evaluadoras y sus roles asignados:
        </div>
        <ul>
            <li>Rol Responsable/Principal: {{ cuestionario.configuracion.peso2 }} %</li>
            <li>Rol Agente colaborador: {{ cuestionario.configuracion.peso3 }} %</li>
        </ul>
        <div>Si detecta alguna incidencia, puede comunicarla pulsando sobre el botón "Nueva incidencia".</div>
    </div>

    <div class="pagina-seccion">Cuestionario {{ cuestionario.titulo }}</div>
    <div class="my-4">
        {%- if evaluaciones|length == 0 %}
            <div class="alert alert-warning">
            <em class="mx-2 fas fa-exclamation-triangle"></em>
            No tiene evaluadores asignados, puede solicitarlo creando una nueva incidencia.
            </div>
        {%- else %}
            <table class="tabla-condensada" id="datosEvaluadores">
                <thead class="cabecera-condensada">
                    <tr>
                        <th>Unidad</th>
                        <th>Evaluador</th>
                        <th>Rol evaluador</th>
                    </tr>
                </thead>
                <tbody>
                {%- for evaluacion in evaluaciones %}
                    <tr>
                        <td>{{ evaluacion.evaluador.unidad.nombre }}</td>
                        <td>{{ evaluacion.evaluador }}</td>
                        <td>
                            {%- if evaluacion.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') -%}
                                Responsable/Principal
                            {%- elseif evaluacion.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') -%}
                                Agente colaborador
                            {%- else -%}
                                <span class="badge-warning">Desconocido</span>
                            {%- endif -%}
                        </td>
                    </tr>
                {%- endfor %}
                </tbody>
            </table>
        {%- endif %}
    </div>
{% endblock %}

{% block botones %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{{ path('desempenyo_formulario_incidencia_new', {codigo: cuestionario.url|u.afterLast('/')}) }}">
            <em class="fas fa-ear-listen"></em> Nueva incidencia
        </a>
    </li>
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('desempenyo') }}"><em class="me-1 fas fa-user-check"></em>Desempeño</a>
    </li>
{% endblock %}

{% block modal %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $('#datosEvaluadores').dataTable({
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
        });
    </script>
{% endblock %}
