{% extends '/layout/base_pdf.html.twig' %}

{% block title %}Autoevaluación: {{ evalua.cuestionario.codigo }}{% endblock %}

{% block content %}
{% set tipos_preguntas -%}
    {{ render(controller('App\\Controller\\Cuestiona\\PreguntaController::getTipos')) }}
{%- endset -%}
    <div class="pagina">
        <h2>{{ evalua.cuestionario.titulo }}</h2>
        <div>{{ evalua.cuestionario.descripcion|raw }}</div>
        {%- if evalua.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION') %}
            <h3>Autoevaluación de {{ app.user.empleado }}</h3>
        {%- elseif evalua.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') %}
            <h3>Evaluación de {{ evalua.empleado }} por parte de agente principal {{ app.user.empleado }}</h3>
        {%- elseif evalua.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') %}
            <h3>Evaluación de {{ evalua.empleado }} por parte de tercer agente {{ app.user.empleado }}</h3>
        {%- endif %}
        <dl>
            <dt>Fecha de entrega: {{ evalua.formulario.enviado|date('d/m/Y') }}</dt>
            {% if evalua.testimonio %}
                <dt>
                    Otras personas responsables y/o colaboradoras cuyos testimonios evidenciados han servido de ayuda o
                    apoyo en este proceso de evaluación:
                </dt>
                <dd>{{ evalua.testimonio }}</dd>
            {% endif %}
        </dl>
    </div>

    {%- for grupo in evalua.cuestionario.grupos|filter(g => g.activa)|sort((a, b) => a.orden <=> b.orden) %}
        <div class="salto-pagina"></div>
        <h5>{{ grupo }}</h5>
        <div>{{ grupo.descripcion|raw }}</div>
        <table class="tabla">
            <thead>
            <tr>
                <th style="width: 50%;">Pregunta</th>
                <th style="width: 10%;">Valoración</th>
                <th style="width: 40%;">Evidencias</th>
            </tr>
            </thead>
            <tbody>
            {%- set puntos = 0 %}
            {%- for pregunta in grupo.preguntas|filter(p => p.activa and not p.reducida)|sort((a, b) => a.orden <=> b.orden) %}
                <tr>
                    <td>{{ pregunta }}</td>
                    <td class="text-end">{{ respuestas[pregunta.id].valor|default }}</td>
                    <td>{{ respuestas[pregunta.id].observa|default }}</td>
                </tr>
                {%- set puntos = puntos + respuestas[pregunta.id].valor|default(0) %}
                {%- if loop.last %}
                    <tr class="ultimo">
                        <td>Media</td>
                        <td class="text-end">{{ (puntos / loop.index)|number_format(2, ',' ) }}</td>
                        <td></td>
                    </tr>
                {%- endif %}
            {%- endfor %}
            </tbody>
        </table>
    {%- endfor %}
{% endblock %}

{% block css %}
    {{ parent() }}
    th {
        padding: 0.2em;
        border-bottom: 1px solid;
        text-align: left;
    }
    td {
        padding: 0.5em;
        vertical-align: top;
    }
    .ultimo td {
        border-top: 1px solid;
    }
{% endblock %}