{% extends path(aplicacion.ruta) ~ '/index.html.twig' %}

{% block content %}
    {%- set puntos_iniciales = 6 -%}
    {%- set tipos_preguntas -%}
        {{ render(controller('App\\Controller\\Cuestiona\\PreguntaController::getTipos')) }}
    {%- endset -%}
    {%- set grupos = evalua.cuestionario.grupos|filter(g => g.activa)|sort((a, b) => a.orden <=> b.orden) -%}

    <div class="badge-primary rounded-pill float-end">{{ app.user.persona }}</div>
    <div class="pagina-titulo">{{ evalua.cuestionario.titulo }}</div>
    <div class="m-3">{{ evalua.cuestionario.descripcion|raw }}</div>

    {%- if evalua.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION') %}
        <div class="pagina-seccion">Autoevaluación</div>
    {%- elseif evalua.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') %}
        <div class="pagina-seccion">Evaluación de {{ evalua.empleado.persona }} por parte de agente principal</div>
    {%- elseif evalua.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') %}
        <div class="pagina-seccion">Evaluación de {{ evalua.empleado.persona }} por parte de tercer agente</div>
    {%- endif %}
    {#- Solo se muestra el formulario cuando no hay fecha de envío #}
    {%- if evalua.formulario.fechaEnvio == null %}
        <form method="post" action="{{ path(aplicacion.ruta ~ '_formulario_guardar', {'codigo': codigo}) }}">
    {%- endif %}
    <div class="d-flex align-items-start my-2">
        <div class="col-3 col-sm-2 me-3">
            <div class="nav flex-column nav-pills h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                {%- if evalua.formulario.fechaEnvio == null %}
                    <a class="nav-link show active" id="vert-tabs-bienvenida-tab" role="tab"
                       data-bs-toggle="pill" href="#vert-tabs-bienvenida" aria-controls="vert-tabs-bienvenida"
                       aria-selected="true">
                        Comenzar la evaluación
                    </a>
                {%- endif %}
                {%- if evalua.tipoEvaluador != constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') %}
                    {#- Grupos de preguntas de cuestionario completo #}
                    {%- for grupo in grupos %}
                        <a class="nav-link {% if evalua.formulario.fechaEnvio != null and loop.first %}show active{% endif %}"
                           id="vert-tabs-{{ grupo.orden }}-tab" role="tab"
                           data-bs-toggle="pill" href="#vert-tabs-{{ grupo.orden }}" aria-controls="vert-tabs-{{ grupo.orden }}"
                           aria-selected="false">
                            <span class="ms-3">{{ grupo.titulo }}</span>
                        </a>
                    {%- endfor %}
                {%- else %}
                    {#- Cuestionario reducido #}
                    <a class="nav-link" id="vert-tabs-0-tab" role="tab" data-bs-toggle="pill" href="#vert-tabs-0"
                       aria-controls="vert-tabs-0" aria-selected="false">
                        <span class="ms-3">Cuestionario reducido</span>
                    </a>
                {%- endif %}
                <a class="nav-link" id="vert-tabs-despedida-tab" role="tab"
                   data-bs-toggle="pill" href="#vert-tabs-despedida" aria-controls="vert-tabs-despedida"
                   aria-selected="false">
                    {% if evalua.formulario.fechaEnvio == null %}Finalizar la evaluación{% else %}Evaluación finalizada{% endif %}
                </a>
            </div>
        </div>
        <div class="col-9 col-sm-10">
            <div class="tab-content" id="vert-tabs-tabContent">
                {#- Página de bienvenida #}
                <div class="tab-pane fade text-left {% if evalua.formulario.fechaEnvio == null %}show active{% endif %}"
                     id="vert-tabs-bienvenida" role="tabpanel" aria-labelledby="vert-tabs-bienvenida-tab" tabindex="0">
                    {%- if sesion is defined and  sesion > 0 %}
                        <div class="badge-info">
                            Dispone de {{ sesion }} segundos para rellenar el formulario.
                        </div>
                    {%- endif %}
                    <div>{{ evalua.cuestionario.bienvenida|raw }}</div>
                </div>
                {%- if evalua.tipoEvaluador != constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') %}
                    {#- Páginas de grupos de preguntas de cuestionario completo #}
                    {%- for grupo in grupos %}
                        <div class="tab-pane fade text-left {% if evalua.formulario.fechaEnvio != null and loop.first %}show active{% endif %}"
                             id="vert-tabs-{{ grupo.orden }}" role="tabpanel"
                             aria-labelledby="vert-tabs-{{ grupo.orden }}-tab" tabindex="0">
                            <div class="pagina-seccion">{{ grupo }}</div>
                            <div class="my-2">{{ grupo.descripcion|raw }}</div>
                            {#- Preguntas del grupo #}
                            <div class="d-grid">
                                <div class="row bg-dark text-bg-dark opacity-50 fw-bolder">
                                    <div class="col-5">Pregunta</div>
                                    <div class="col-2">Valoración</div>
                                    <div class="col-5">Evidencias</div>
                                </div>
                                {%- set puntos = 0 %}
                                {%- set preguntas = grupo.preguntas|filter(p => p.activa and not p.reducida)|sort((a, b) => a.orden <=> b.orden)  %}
                                {%- for pregunta in preguntas %}
                                    {%- set tipo = (tipos_preguntas|json_decode)[pregunta.tipo] %}
                                    <div class="row {% if loop.index % 2 %}bg-light{% endif %}">
                                        <div class="col-5">
                                            <div class="fw-bold" title="{{ pregunta.descripcion|raw }}">{{ pregunta }}</div>
                                        </div>
                                        {%- if evalua.formulario.fechaEnvio == null %}
                                            {{- include('intranet/desempenyo/admin/pregunta/_pregunta_' ~ tipo.fichero ~ '.html.twig', {
                                                etiqueta: 'preg_' ~ pregunta.id, valor: respuestas[pregunta.id]|default(puntos_iniciales)}) }}
                                        {%- else %}
                                            <div class="col-2">{{ respuestas[pregunta.id].valor|default }}</div>
                                            <div class="col-5">{{ respuestas[pregunta.id].observa|default }}</div>
                                        {%- endif %}
                                    </div>
                                    {%- set puntos = puntos + respuestas[pregunta.id].valor|default(puntos_iniciales) %}
                                {%- endfor %}
                                {%- if preguntas is defined and preguntas|length > 0 %}
                                    <div class="row fw-bold bg-tertiary">
                                        <div class="col-5 text-end">Media</div>
                                        <div id="media_{{ grupo.orden }}" class="col-2">{{ (puntos / preguntas|length)|number_format(2) }}</div>
                                    </div>
                                {%- endif %}
                            </div>
                            {%- if evalua.formulario.fechaEnvio == null %}
                                <div class="d-flex">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token(codigo ~ '.' ~ evalua.cuestionario.id) }}" />
                                    <button class="btn btn-primary m-2"><em class="mx-1 fas fa-save"></em>Grabar</button>
                                    <div id="aviso_{{ grupo.orden }}" class="toast text-bg-warning align-self-center mx-2" role="alert"
                                         aria-live="assertive" aria-atomic="true" data-bs-delay="5000" data-bs-autohide="true">
                                        <div class="toast-body">
                                            <div class="d-flex">
                                                <div>Faltan evidencias.</div>
                                                <button type="button" class="btn-close me-2 m-auto"
                                                        data-bs-dismiss="toast" aria-label="Close"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%- endif %}
                        </div>
                    {%- endfor %}
                {%- else %}
                    {#- Cuestionario reducido #}
                    <div class="tab-pane fade text-left" id="vert-tabs-0" role="tabpanel"
                         aria-labelledby="vert-tabs-0-tab" tabindex="0">
                        <div class="d-grid">
                            <div class="row bg-dark text-bg-dark opacity-50 fw-bolder">
                                <div class="col-5">Pregunta</div>
                                <div class="col-2">Valoración</div>
                                <div class="col-5">Evidencias</div>
                            </div>
                            {%- set puntos = 0 %}
                            {%- for grupo in evalua.cuestionario.grupos|sort((a, b) => a.orden <=> b.orden) %}
                                {%- set preguntas = grupo.preguntas|filter(p => p.activa and p.reducida)|sort((a, b) => a.orden <=> b.orden)  %}
                                {%- for pregunta in preguntas %}
                                    {%- set tipo = (tipos_preguntas|json_decode)[pregunta.tipo] %}
                                    <div class="row {% if loop.index % 2 %}bg-light{% endif %}">
                                        <div class="col-5">
                                            <div class="fw-bold" title="{{ pregunta.descripcion|raw }}">{{ pregunta }}</div>
                                        </div>
                                        {%- if preguntas is defined and preguntas|length > 0 %}
                                            {{- include('intranet/desempenyo/admin/pregunta/_pregunta_' ~ tipo.fichero ~ '.html.twig', {
                                                etiqueta: 'preg_' ~ pregunta.id, valor: respuestas[pregunta.id]|default(puntos_iniciales)}) }}
                                        {%- else %}
                                            <div class="col-2">{{ respuestas[pregunta.id].valor|default }}</div>
                                            <div class="col-5">{{ respuestas[pregunta.id].observa|default }}</div>
                                        {%- endif %}
                                    </div>
                                    {%- set puntos = puntos + respuestas[pregunta.id].valor|default(puntos_iniciales) %}
                                {%- endfor %}
                            {%- endfor %}
                            {%- if preguntas is defined and preguntas|length > 0 %}
                                <div class="row fw-bold bg-tertiary">
                                    <div class="col-5 text-end">Media</div>
                                    <div id="media_reducido" class="col-2">{{ (puntos / preguntas|length)|number_format(2) }}</div>
                                </div>
                            {%- endif %}
                        </div>
                        <div class="d-flex">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token(codigo ~ '.' ~ evalua.cuestionario.id) }}" />
                            <button class="btn btn-primary m-2"><em class="mx-1 fas fa-save"></em>Grabar</button>
                            <div id="aviso_0" class="toast text-bg-warning align-self-center mx-2" role="alert"
                                 aria-live="assertive" aria-atomic="true" data-bs-delay="5000" data-bs-autohide="true">
                                <div class="toast-body">
                                    <div class="d-flex">
                                        <div>Faltan evidencias.</div>
                                        <button type="button" class="btn-close me-2 m-auto"
                                                data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%- endif %}
                {#- Página de despedida #}
                <div class="tab-pane fade text-left" id="vert-tabs-despedida" role="tabpanel"
                     aria-labelledby="vert-tabs-despedida-tab" tabindex="0">
                    <div>{{ evalua.cuestionario.despedida|default|raw }}</div>
                    {%- if evalua.formulario.fechaEnvio == null %}
                        <input type="hidden" name="_token"
                               value="{{ csrf_token(codigo ~ '.' ~ evalua.cuestionario.id) }}" />
                        <div class="d-flex">
                            <button class="btn btn-primary m-2 align-self-center" id="enviar">
                                <em class="mx-1 fas fa-envelope"></em>Enviar
                            </button>
                            {#- Avisos #}
                            <div id="aviso" class="toast text-bg-warning align-self-center mx-2" role="alert"
                                 aria-live="assertive" aria-atomic="true" data-bs-delay="5000" data-bs-autohide="true">
                                <div class="toast-body">
                                    <div class="d-flex">
                                        <div>No se han introducido evidencias en todas las preguntas necesarias.</div>
                                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                                aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%- else %}
                        {%- if evalua.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION') %}
                            {%- set url = path(aplicacion.ruta ~ '_formulario_pdf', {codigo: codigo}) -%}
                        {%- else %}
                            {%- set url = path(aplicacion.ruta ~ '_formulario_pdf', {codigo: codigo, id: evalua.empleado.id}) -%}
                        {%- endif %}
                        <a class="btn btn-primary" title="Descargar PDF de la evaluación" href="{{ url }}">
                            <em class="me-1 fas fa-file-pdf"></em>PDF
                        </a>
                    {%- endif %}
                </div>
            </div>
        </div>
    </div>
    {%- if evalua.formulario.fechaEnvio == null %}
        <input type="hidden" name="empleado" value="{{ evalua.empleado.id }}" />
        <input type="hidden" name="evaluador" value="{{ evalua.evaluador.id|default }}" />
        <input type="hidden" name="enviado" id="enviado" value="0" />
    </form>
    {%- endif %}
{% endblock %}

{% block botones %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta) }}">
            <em class="me-1 fas {{ aplicacion.icono }}"></em>{{ aplicacion.nombreCorto }}
        </a>
    </li>
{% endblock %}

{% block modal %}
    {{- include('layout/_dialogo_confirmar.html.twig', {id: 'dialogoEnviar',
        texto:'Si envía el cuestionario se guardarán los datos definitivamente y ya no podrán ser editados.',
        pregunta: '¿Enviar este cuestionario?'}) }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        import { Toast } from 'bootstrap';
        const aviso = new Toast('#aviso');
        // Pedir confirmación antes de enviar formulario si las evidencias son adecuadas
        const enviar = $('#enviar');
        const enviado = $('#enviado');
        const modalEnviar = $('#dialogoEnviar');
        enviado.val(false);
        enviar.on('click', function (e) {
            e.preventDefault();
            let seguir = true;
            $('[class$=emphasis]').each(function () {
                const observa = $('#' + $(this).prop('id').replace('salida_', 'observa_'));
                if (observa.val().length < 10) {
                    aviso.show();
                    seguir = false;
                }
            });
            if (!seguir) {
                return false;
            }
            modalEnviar.show();
        });
        $('#dialogoEnviarCancelar').on('click', function () {
            modalEnviar.hide();
        });
        $('#dialogoEnviarAceptar').on('click', function () {
            modalEnviar.hide();
            enviado.val(true).parent().submit();
        });
        // Actualizar color y media de puntos
        $('[id^=preg_]').on('change', function () {
            let valor = $(this).val();
            const salida = $('#' + $(this).prop('id').replace('preg_', 'salida_'));
            salida.prop('class', 'fw-bold ' + (valor < 5 ? 'text-danger-emphasis' : (valor > 7 ? 'text-success-emphasis' : 'text-info')));
            let total = 0;
            const grupo = $(this).closest('.d-grid');
            const preguntas = grupo.find('[id^=preg_]');
            preguntas.each(function () {
                total += parseFloat($(this).val());
            })
            grupo.find('[id^=media_]').html((total / preguntas.length).toFixed(2));
        });
        // Mostrar aviso si faltan evidencias
        $('a[role="tab"]').on('click', function () {
            const tab = $('#' + this.getAttribute('aria-controls'));
            let re = new RegExp(/\d$/);
            if (re.test(tab.prop('id'))) {
                // Aviso en grupo de preguntas (si identificador del grupo termina en número)
                const aviso = new Toast(tab.find('[id^=aviso_]'));
                tab.find('[class$=emphasis]').each(function () {
                    const observa = $('#' + $(this).prop('id').replace('salida_', 'observa_'));
                    if (observa.val().length < 10) {
                        aviso.show();
                    }
                });
            } else {
                // Aviso en el panel de enviar el formulario con evidencias necesarias de menos de 10 caracteres
                $('[class$=emphasis]').each(function () {
                    const observa = $('#' + $(this).prop('id').replace('salida_', 'observa_'));
                    if (observa.val().length < 10) {
                        aviso.show();
                    }
                });
            }
        });
    </script>
{% endblock %}