{% extends path(aplicacion.ruta) ~ '/index.html.twig' %}

{% block content %}
    {%- set tipos_preguntas -%}
        {{ render(controller('App\\Controller\\Cuestiona\\PreguntaController::getTipos')) }}
    {%- endset -%}

    <div class="badge-primary rounded-pill float-end">{{ app.user.persona }}</div>
    <div class="pagina-titulo">{{ formulario.formulario.cuestionario.titulo }}</div>
    <div class="m-3">{{ formulario.formulario.cuestionario.descripcion|raw }}</div>

    <div class="pagina-seccion">
        {%- if formulario.empleado == formulario.evaluador %}
            Autoevaluación enviada el {{ formulario.formulario.fechaEnvio|date('d/m/Y') }}
        {%- else %}
            Evaluación de {{ formulario.empleado.persona }} enviada el {{ formulario.formulario.fechaEnvio|date('d/m/Y') }}
        {%- endif %}
    </div>
    <div class="d-flex align-items-start">
        <div class="col-3 col-sm-2 me-3">
            <div class="nav flex-column nav-pills h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                {#- Páginas de grupos de preguntas #}
                {%- for grupo in formulario.formulario.cuestionario.grupos|sort((a, b) => a.orden <=> b.orden) %}
                    <a class="nav-link {% if loop.first %}show active{% endif %}" id="vert-tabs-{{ grupo.orden }}-tab" role="tab"
                       data-bs-toggle="pill" href="#vert-tabs-{{ grupo.orden }}" aria-controls="vert-tabs-{{ grupo.orden }}"
                       aria-selected="false">
                        <span class="ms-3">{{ grupo.titulo }}</span>
                    </a>
                {%- endfor %}
            </div>
        </div>
        <div class="col-9 col-sm-10">
            <div class="tab-content" id="vert-tabs-tabContent">
                {#- Páginas de grupos de preguntas #}
                {%- for grupo in formulario.formulario.cuestionario.grupos %}
                    <div class="tab-pane fade text-left {% if loop.first %}show active{% endif %}" id="vert-tabs-{{ grupo.orden }}"
                         role="tabpanel" aria-labelledby="vert-tabs-{{ grupo.orden }}-tab" tabindex="0">
                        <div class="pagina-seccion">{{ grupo }}</div>
                        <div class="my-2">{{ grupo.descripcion|raw }}</div>
                        {#- Preguntas del grupo #}
                        <div class="d-grid mb-4">
                            <div class="row bg-dark text-bg-dark opacity-50 fw-bolder">
                                <div class="col-5">Pregunta</div>
                                <div class="col-2">Valoración</div>
                                <div class="col-5">Evidencias</div>
                            </div>
                            {%- set puntos = 0 %}
                            {%- for pregunta in grupo.preguntas %}
                                <div class="row {% if loop.index % 2 %}bg-light{% endif %}">
                                    <div class="col-5">
                                        <div class="fw-bold" title="{{ pregunta.descripcion|raw }}">{{ pregunta }}</div>
                                    </div>
                                    <div class="col-2">{{ respuestas[pregunta.id].valor|default }}</div>
                                    <div class="col-5">{{ respuestas[pregunta.id].observa|default }}</div>
                                </div>
                                {%- set puntos = puntos + respuestas[pregunta.id].valor|default(0) %}
                                {%- if loop.last %}
                                    <div class="row fw-bold bg-tertiary">
                                        <div class="col-5 text-end">Media</div>
                                        <div class="col-2">{{ puntos / loop.index }}</div>
                                    </div>
                                {%- endif %}
                            {%- endfor %}
                        </div>
                    </div>
                {%- endfor %}
            </div>
        </div>
{% endblock %}

{% block botones %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta) }}">
            <em class="me-1 fas {{ aplicacion.icono }}"></em>{{ aplicacion.nombreCorto }}
        </a>
    </li>
{% endblock %}

{% block modal %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
    </script>
{% endblock %}