{% extends 'desempenyo/incidencia_index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="linea-botones">
        <button class="btn btn-primary"><em class="fas fa-save"></em> {{ button_label|default('Guardar') }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block botones %}{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('desempenyo_formulario_incidencia_index', {codigo: incidencia.cuestionario.url|u.afterLast('/')}) }}">
            Incidencias
        </a>
    </li>
{% endblock %}