{% extends 'desempenyo/incidencia_index.html.twig' %}

{% block content %}
    <div class="badge-primary rounded-pill float-end">{{ app.user.empleado }}</div>
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="row py-2">
        <div class="fila-campo">Estado actual</div>
        <div class="fila-valor">
            <span class="badge">
                <em class="bg-{{ incidencia.incidencia.apuntes.last.estado.color }} p-1 fas {{ incidencia.incidencia.apuntes.last.estado.icono|default }}"></em>
            </span>
            {{- incidencia.incidencia.apuntes.last.estado.nombre|default -}}
        </div>
    </div>
    <div class="row py-2">
        <div class="fila-campo">Tipo de incidencia</div>
        <div class="fila-valor">{{ incidencia.tipo.descripcion }}</div>
    </div>
    <div class="row py-2">
        <div class="fila-campo">Descripción</div>
        <div class="fila-valor">{{ incidencia.incidencia.descripcion }}</div>
    </div>
    <div class="row py-2">
        <div class="fila-campo">Solicitante</div>
        <div class="fila-valor">{{ incidencia.incidencia.solicitante }}</div>
    </div>

    <div class="row py-2">
        <div class="fila-campo">Histórico de la incidencia</div>
        <div class="fila-valor w-75">
            <table class="tabla-condensada" id="datosApuntes">
                <thead class="cabecera-condensada">
                <tr>
                    <th>Estado</th>
                    <th>Fecha inicial</th>
                    <th>Fecha final</th>
                    <th>Comentario</th>
                    <th>Autor</th>
                    <th data-dt-order="disable">Acciones</th>
                </tr>
                </thead>
                {%- set inicio = 0 -%}
                {%- set fin = 0 -%}
                {% for apunte in incidencia.incidencia.apuntes -%}
                    <tr>
                        <td>
                            <span class="badge">
                                <em class="bg-{{ apunte.estado.color }} p-1 fas {{ apunte.estado.icono|default }}"></em>
                            </span>
                            {{- apunte.estado.nombre|default -}}
                        </td>
                        <td>{{ apunte.fechaInicio ? apunte.fechaInicio | date('d/m/Y, H:i') }}</td>
                        <td>{{ apunte.fechaFin ? apunte.fechaFin | date('d/m/Y, H:i') }}</td>
                        <td>{{ apunte.comentario }}</td>
                        <td>{{ apunte.autor.empleado }}</td>
                        <td>
                            {% if incidencia.incidencia.solicitante == apunte.autor and loop.last %}
                                <a class="mx-1" title="Responder información"
                                   href="{{ path('desempenyo_formulario_incidencia_apunte', {codigo: incidencia.cuestionario.url|u.afterLast('/'), incidencia: incidencia.id}) }}">
                                    <em class="fas fa-edit"></em>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if loop.first %}{% set inicio = apunte.fechaInicio | date('U') %}{% endif -%}
                    {% if loop.last %}{% set fin = apunte.fechaFin ? apunte.fechaFin|date('U') : 0 %}{% endif -%}
                {% endfor %}
            </table>
            {%- if fin > 0 -%}
                <div class="progress-stacked">
                    {%- set total = fin - inicio -%}
                    {%- for apunte in incidencia.incidencia.apuntes -%}
                        {%- set valor = (apunte.fechaFin|date('U') - apunte.fechaInicio|date('U')) * 100 // total %}
                        <div class="progress" role="progressbar" aria-label="Apunte {{ loop.index }}"
                             aria-valuenow="{{ valor }}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ loop.last ? 1 : valor }}%">
                            <div class="progress-bar bg-{{ apunte.estado.color }}"></div>
                        </div>
                    {%- endfor -%}
                </div>
            {%- endif %}
        </div>
    </div>
{% endblock %}

{% block botones %}
    {%- if incidencia.incidencia.apuntes.last.estado.nombre == constant('App\\Entity\\Estado::INICIADO') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path('desempenyo_formulario_incidencia_edit', {codigo: incidencia.cuestionario.url|u.afterLast('/'), id: incidencia.id}) }}">
                <em class="fas fa-edit"></em> Editar
            </a>
        </li>
            <li class="nav-item ms-5 me-2">
                <form method="post"
                      action="{{ path('desempenyo_formulario_incidencia_delete', {codigo: incidencia.cuestionario.url|u.afterLast('/'), id: incidencia.id}) }}"
                      onsubmit="return confirm('¿Eliminar la incidencia actual?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ incidencia.id) }}">
                    <button class="btn btn-primary"><em class="fas fa-trash"></em> Eliminar</button>
                </form>
            </li>
    {%- endif %}
{% endblock %}

{% block modal %}{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('desempenyo_formulario_incidencia_index', {codigo: incidencia.cuestionario.url|u.afterLast('/')}) }}">
            Incidencias
        </a>
    </li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        const datosApuntes = $('#datosApuntes').DataTable({
            info: false,
            language: {
                url: '{{ asset("includes/datatable_noinfo.es.json") }}'
            },
            order: [
                [1, 'desc'],
            ],
        });
    </script>
{% endblock %}