{% extends '/layout/base.html.twig' %}
{% set titulo = titulo|default(aplicacion.nombre) %}

{% block content %}
    <a class="float-end" href="{{ path('intranet_ayuda_show', {'aplic': aplicacion.ruta|regex_replace('/^intranet_/', '')}) }}">
        <span class="fas fa-info-circle"></span> Ayuda
    </a>
    <div class="pagina-titulo">
        {{- titulo }}
        {%- if aplicacion.estadoActual and aplicacion.estadoActual.color %}
            <sup class="badge bg-{{ aplicacion.estadoActual.color }}"><span class="fas fa-sm {{ aplicacion.estadoActual.icono }}"></span> {{ aplicacion.estadoActual }}</sup>
        {%- endif %}
    </div>
    <p class="">{{ aplicacion.descripcion }}</p>

    {%- set activos = cuestionarios|filter(c => c.estado.nombre == constant('App\\Entity\\Sistema\\Estado::PUBLICADO')) %}
    {#- Acciones comunes. #}
    <div class="my-4">
        {%- if activos|length == 0 %}
            <div class="alert alert-warning">En este momento, no hay cuestionarios activos.</div>
        {%- else %}
            {#- Autoevaluación #}
            <div class="pagina-seccion">Fase para la autoevaluación del desempeño</div>
            <div class="container-fluid my-2">
                <em class="me-2 fas fa-info-circle text-info"></em>Artículos 9 y 11<br>
                Dirigida a todas las personas empleadas del PTGAS: la autoevaluación de las competencias se
                realiza mediante la cumplimentación del cuestionario de competencias. Cada conducta incluida en el
                cuestionario deberá ser valorada por la propia persona empleada pública, aplicando una escala Likert de 1 a
                10, y podrá señalar una o varias conductas específicas que sirvan como justificación y
                evidencia del valor dado en cada una de las conductas del cuestionario.
            </div>
            <div class="container-fluid my-2">
                La autoevaluación por parte de la persona empleada pública tendrá un valor ponderado
                del 34%, con respecto al máximo de los 60 puntos con los que se puntúan las competencias profesionales.
            </div>
            <div class="container-fluid my-2">
                La escala Likert queda definida en <a href="#documenots">documentos de interés</a>.
                A fin de homogeneizar los criterios de calificación, cada persona empleada pública debe consultar este
                documento <strong>antes de comenzar su autoevaluación</strong> y aplicar la escala Lickert conforme a sus
                indicaciones.
            </div>
            <ul class="lead my-3">
                {%- if activos[0].fechaAlta > date() %}
                    <div class="alert alert-warning">
                        El cuestionario estará disponible entre los días {{ activos[0].fechaAlta|date('d/m/Y') }} y
                        {{ activos[0].fechaBaja|date('d/m/Y') }}. Puede consultar el texto en el apartado
                        <a href="#documentos">documentos de interés</a>.
                    </div>
                {%- elseif activos[0].fechaBaja < date() %}
                    <div class="alert alert-warning">
                        El plazo para cumplimentar el cuestionario terminó el día {{ activos[0].fechaBaja|date('d/m/Y') }}.
                        Si existe de una incidencia, puede comunicarla en el apartado
                        <a href="#incidencias">Comunicar incidencias del proceso de autoevaluación</a>.
                    </div>
                {%- elseif evaluados|length == 0 %}
                    <div class="alert alert-warning">
                        El empleado actualmente no tiene cuestionario asignado.
                        Si existe de una incidencia, puede comunicarla en el apartado
                        <a href="#incidencias">Comunicar incidencias del proceso de autoevaluación</a>.
                    </div>
                {%- elseif evaluados|filter(e => e.evaluador == null)|length > 0 %}
                    <div class="alert alert-warning">
                        El empleado ha solicitado no ser evaluado.
                    </div>
                {%- else %}
                    <li><a href="{{ activos[0].url }}">Cuestionario para autoevaluación de competencias</a></li>
                {%- endif %}
                <li>Comprobar sus evaluadores</li>
                <li>Comunicar incidencias del proceso de autoevaluación</li>
                {%- if activos[0].fechaBaja >= date() %}
                    {%- if evaluados|filter(e => e.evaluador != null)|length > 0 %}
                        <li class="alert alert-primary">
                            Solicito no participar en el proceso de autoevaluación del desempeño
                        </li>
                    {%- else %}
                        <li class="alert alert-success">
                            Volver a activar su participación (solo disponible hasta el día {{ activos[0].fechaBaja|date('d/m/Y') }},
                            inclusive)
                        </li>
                    {%- endif %}
                {%- endif %}
            </ul>
            {%- if activos|length > 0 and evaluaciones|filter(e => e.empleado != e.evaluador)|length > 0 %}
                <div class="pagina-seccion">Fase para la evaluación por parte de los responsables</div>
                <div class="container-fluid my-2">
                    <em class="me-2 fas fa-info-circle text-info"></em>Artículos 9 y 11<br>
                    Esta fase va dirigida al responsable superior jerárquico, que deberá responder el cuestionario evaluando a
                    cada persona a su cargo. Deberá señalar una o varias conductas específicas que sirvan como justificación y
                    evidencia del valor dado en cada una de las conductas del cuestionario. La evaluación de la Universidad
                    tiene un valor ponderado del 66% del valor total, con respecto al máximo de 60 puntos con los que se puntúan
                    las competencias profesionales.
                </div>
                <ul class="lead my-3">
                    {%- if activos[0].fechaAlta > date() %}
                        <div class="alert alert-warning">
                            El cuestionario estará disponible entre los días {{ activos[0].fechaAlta|date('d/m/Y') }} y
                            {{ activos[0].fechaBaja|date('d/m/Y') }}. Puede consultar el texto en el apartado
                            <a href="#documentos">documentos de interés</a>.
                        </div>
                    {%- elseif activos[0].fechaBaja < date() %}
                        <div class="alert alert-warning">
                            El plazo para cumplimentar el cuestionario terminó el día {{ activos[0].fechaBaja|date('d/m/Y') }}.
                            Si existe de una incidencia, puede comunicarla en el apartado
                            <a href="#incidencias">Comunicar incidencias de evaluación por parte del responsable</a>.
                        </div>
                    {%- else %}
                        <li>Cuestionario de evaluación de competencias de otras personas</li>
                    {%- endif %}
                    <li>Comprobar relación de personas a evaluar</li>
                    <li>Comunicar incidencias de evaluación por parte del responsable</li>
                </ul>
                <div class="pagina-seccion">Fase para la evaluación por parte de otras personas evaluadoras</div>
                <div class="container-fluid my-2">
                    <em class="me-2 fas fa-info-circle text-info"></em>Artículos 9 y 11<br>
                    Esta fase va dirigida a otras personas evaluadoras que intervienen en el proceso de evaluación.
                </div>
                <div class="pagina-seccion">Resultados del proceso de evaluación activo</div>
                <ul class="lead my-3">
                    <li>Resultado parcial de la autoevaluación</li>
                    <li>Resultado parcial de la evaluación del responsable</li>
                    <li>Resultado parcial de la evaluación con la participación de otras personas evaluadoras</li>
                    <li>Resultado provisional del proceso de evaluación del desempeño</li>
                    <li>Resultado final del proceso de evaluación del desempeño</li>
                </ul>
            {%- endif %}
            <div class="pagina-seccion" id="documentos">Documentos de interés del procedimiento activo</div>
            <ul class="lead my-3">
                <li>Texto del acuerdo</li>
                <li>Escala Lickert</li>
                <li>Cuestionario 2024</li>
            </ul>
        {%- endif %}
        {%- if cuestionarios|filter(c => c.estado.nombre == constant('App\\Entity\\Sistema\\Estado::ARCHIVADO'))|length > 0 %}
            <div class="pagina-seccion">Resultados de evaluaciones anteriores</div>
            <ul class="lead my-3">
                ...
            </ul>
        {%- endif %}
    </div>

    {#- Mostrar roles de la aplicación con permiso para el usuario. #}
    {%- set admin = false -%}
    {%- for rol in aplicacion.roles|default -%}
        {%- for p in aplicacion.permisos|filter(p => p.usuario == app.user)|filter(r => r.rol == rol) -%}
            {%- if p.estado.nombre == constant('App\\Entity\\Sistema\\Estado::PUBLICADO') %}
                {%- if p.rol.ruta == 'admin' %}
                    {%- set admin = true -%}
                {%- endif %}
                <div class="h5">
                    <a href="{{ path(aplicacion.ruta ~ '_' ~ rol.ruta) }}">
                        <span class="fas {{ rol.icono }}"></span> {{ rol.nombre }}
                    </a>
                    {% if p.unidad %} <span class="badge rounded-pill">({{ p.unidad.nombre }})</span>{% endif %}
                </div>
                <p>{{ rol.descripcion }}</p>
            {%- else %}
                <div class="h5">
                    <span class="fas {{ rol.icono }}"></span> {{ rol.nombre }}
                    <sup class="bg-{{ p.estado.color|default }}">({{ p.estado.nombre }})</sup>
                </div>
            {%- endif %}
        {%- endfor -%}
    {%- endfor -%}

    {#- Si el usuario tiene acceso, se muestran las aplicaciones relacionadas (excepto "Sistema"). -#}
    {%- if admin %}
        {%- for aplic in aplicacion.dependientes|merge(aplicacion.dependencias)|filter(a => a.nombreCorto != 'Sistema') %}
            {%- if loop.first %}<div class="pagina-seccion">Aplicaciones relacionadas</div>{% endif %}
            <h5 class="ms-4"><a href="{{ path(aplic.ruta) }}">{{ aplic.nombre }}</a></h5>
        {%- endfor %}
    {%- endif %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('intranet_usuario_aplicacion') }}"><span class="fas fa-tools"></span> Mis Aplicaciones</a></li>
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}
