{% extends '/layout/base.html.twig' %}
{% set hoy = 'now'|date('Ymd') -%}
{% set activo = cuestionarios|filter(c => c.estado.nombre == constant('App\\Entity\\Estado::PUBLICADO'))[0]|default -%}

{% block content %}
    {# Pesos establecidos por defecto -#}
    {% set pesos = [34, 56, 10] -%}
    {% set activos = cuestionarios|filter(c => c.estado.nombre == constant('App\\Entity\\Estado::PUBLICADO')) -%}
    {% set rechazado = evaluados|filter(e => e.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION'))|length > 0 -%}
    {% set registrado = evaluados|filter(e => e.registrado != null)|length > 0 -%}

    <div class="pagina-titulo">Evaluación del Desempeño Universitario</div>

    <p class=""><em>(descripción de la aplicación)</em></p>

    {#- Acciones comunes #}
    <div class="d-flex align-items-start w-100 my-4">
        {%- if activos|length == 0 %}
            <div class="alert alert-warning">En este momento, no hay cuestionarios activos.</div>
        {%- else %}
            {# Menú lateral #}
            <div class="nav nav-pills flex-column col-2 p-3" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="vert-tabs-fase1-tab" type="button" role="tab" data-bs-toggle="pill"
                        data-bs-target="#vert-tabs-fase1" aria-controls="vert-tabs-fase1" aria-selected="true">
                    Autoevaluación
                </button>
                {%- if evaluaciones|filter(e => e.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'))|length > 0 %}
                    <button class="nav-link" id="vert-tabs-fase2-tab" type="button" role="tab" data-bs-toggle="pill"
                            data-bs-target="#vert-tabs-fase2" aria-controls="vert-tabs-fase2">
                        Evaluación responsable
                    </button>
                {% endif %}
                {%- if evaluaciones|filter(e => e.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO'))|length > 0 %}
                    <button class="nav-link" id="vert-tabs-fase3-tab" type="button" role="tab" data-bs-toggle="pill"
                            data-bs-target="#vert-tabs-fase3" aria-controls="vert-tabs-fase3">
                        Evaluación colaborador
                    </button>
                {% endif %}
                {% if activos[0].configuracion.provisional.date is defined and activos[0].configuracion.provisional.date|date('Ymd') <= hoy %}
                    <button class="nav-link" id="vert-tabs-resultado-tab" type="button" role="tab" data-bs-toggle="pill"
                            data-bs-target="#vert-tabs-resultado" aria-controls="vert-tabs-resultado">
                        Resultados
                    </button>
                {% endif %}
{#                <button class="nav-link" id="vert-tabs-desarrollo-tab" type="button" role="tab" data-bs-toggle="pill"#}
{#                        data-bs-target="#vert-tabs-desarrollo" aria-controls="vert-tabs-desarrollo">#}
{#                    Desarrollo profesional#}
{#                </button>#}
                <button class="nav-link" id="vert-tabs-documentos-tab" type="button" role="tab" data-bs-toggle="pill"
                        data-bs-target="#vert-tabs-documentos" aria-controls="vert-tabs-documentos">
                    Documentación
                </button>
            </div>
            {# Paneles #}
            <div class="tab-content col-10" id="vert-tabs-tabContent">
                <div class="tab-pane fade text-left show active" id="vert-tabs-fase1" role="tabpanel"
                     aria-labelledby="vert-tabs-fase1-tab" tabindex="0">
                    {{ include('desempenyo/_index_fase1.html.twig') }}
                </div>
                {%- if evaluaciones|filter(e => e.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'))|length > 0 %}
                    <div class="tab-pane fade text-left" id="vert-tabs-fase2" role="tabpanel"
                         aria-labelledby="vert-tabs-fase2-tab" tabindex="0">
                        {{ include('desempenyo/_index_fase2.html.twig') }}
                    </div>
                {%- endif %}
                {%- if evaluaciones|filter(e => e.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO'))|length > 0 %}
                    <div class="tab-pane fade text-left" id="vert-tabs-fase3" role="tabpanel"
                         aria-labelledby="vert-tabs-fase3-tab" tabindex="0">
                        {{ include('desempenyo/_index_fase3.html.twig') }}
                    </div>
                {%- endif %}
                {% if activos[0].configuracion.provisional.date is defined and activos[0].configuracion.provisional.date|date('c') < 'now'|date('c') %}
                    <div class="tab-pane fade text-left" id="vert-tabs-resultado" role="tabpanel"
                         aria-labelledby="vert-tabs-resultado-tab" tabindex="0">
                        {{ include('desempenyo/_index_resultado.html.twig') }}
                    </div>
                {% endif %}
                <div class="tab-pane fade text-left" id="vert-tabs-desarrollo" role="tabpanel"
                     aria-labelledby="vert-tabs-desarrollo-tab" tabindex="0">
                    {{ include('desempenyo/_index_desarrollo.html.twig') }}
                </div>
                <div class="tab-pane fade text-left" id="vert-tabs-documentos" role="tabpanel"
                     aria-labelledby="vert-tabs-documentos-tab" tabindex="0">
                    {{ include('desempenyo/_index_documentos.html.twig') }}
                </div>
            </div>
        {%- endif %}
    </div>

    {% if cuestionarios|filter(c => c.estado.nombre == constant('App\\Entity\\Estado::ARCHIVADO'))|length > 0 -%}
        <div class="pagina-seccion">Resultados de evaluaciones anteriores</div>
        <ul class="lead my-3">
            ...
        </ul>
    {%- endif %}

    {#- Mostrar roles de la aplicación con permiso para el usuario. #}
    {% if 'ROLE_ADMIN' in app.user.roles -%}
        <div class="linea-botones"></div>
        <div class="h5">
            <a href="{{ path('desempenyo_admin' ) }}"><em class="fas fa-cog"></em> Administrador</a>
        </div>
        <p>Gestión de los recursos de la aplicación.</p>
    {%- endif %}
{% endblock %}

{% block migas %}
    {{ parent() }}
{% endblock %}

{% block usuario %}{{ app.user.empleado }}{% endblock %}

{% block modal %}
    {% set registrado = evaluados|filter(e => e.cuestionario == activo and e.registrado != null)|length > 0 %}
    {{- include('layout/_dialogo_confirmar.html.twig', {id: 'dialogoRechaza',
        texto: 'Aunque conozco que uno de los requerimientos necesarios para la progresión en mi carrera profesional '
            ~ 'horizontal es la superación de la evaluación del desempeño en los términos establecidos en el acuerdo '
            ~ 'aplicable (Art. 4.3.e y Art. 6), NO DESEO PARTICIPAR en este proceso de evaluación y me comprometo a '
            ~ 'comunicarlo de forma fehaciente a la Gerencia, en virtud de lo dispuesto en el artículo 11.1.',
        pregunta: ' ', cancelar: 'Volver atrás', aceptar: 'No deseo participar'}) }}
    {{- include('layout/_dialogo_confirmar.html.twig', {id: 'dialogoRecupera',
        texto: 'He cambiado de opinión y deseo participar en este proceso de evaluación. De haber comunicado a la '
            ~ 'Gerencia mi rechazo, me comprometo a informarla de forma fahaciente de este cambio de opinión.',
        pregunta: ' ', cancelar: 'Volver atrás', aceptar: 'Deseo participar'}) }}
    {{- include('layout/_dialogo_confirmar.html.twig', {id: 'dialogoHabilita',
        texto: 'Doy mi habilitación para ser evaluado en mi actual puesto desempeñado.',
        cancelar: 'No', aceptar: 'Sí'}) }}
    {% if activo -%}
        {% set datos -%}
            <div class="container-fluid py-4 g-4">
                {% if evaluados|filter(e => e.cuestionario == activo)|length == 0 %}
                    <div class="row py-2">
                        <div class="fila-campo col-sm-4">Resultado</div>
                        <div class="fila-valor col-sm-8 fw-bold">
                            <em class="fas fa-ban text-primary"></em> Usted no tiene evaluaciones para este cuestionario
                        </div>
                    </div>
                {% elseif registrado -%}
                    <div class="row py-2">
                        <div class="fila-campo col-sm-4">Resultado</div>
                        <div class="fila-valor col-sm-8 fw-bold">
                            <em class="fas fa-ban text-primary"></em> Usted ha solicitado no ser evaluado
                        </div>
                    </div>
                {% elseif activo.configuracion.definitiva.date is defined and activo.configuracion.definitiva.date|date('Ymd') <= hoy %}
                    {% set resultado = resultados[activo.id] %}
                    <div class="row py-2">
                        <div class="fila-campo col-sm-6">Puntuación sobre 100</div>
                        <div class="fila-valor col-sm-6">{{ resultado|number_format(2, ',' ) }}</div>
                    </div>
                    <div class="row py-2">
                        <div class="fila-campo col-sm-6">Resultado</div>
                        <div class="fila-valor col-sm-6 fw-bold">
                            {%- if resultado < 60 -%}
                                <em class="fas fa-times text-danger"></em> NO SUPERADO
                            {%- else -%}
                                <em class="fas fa-check text-success"></em> SUPERADO
                            {%- endif -%}
                        </div>
                    </div>
                {% else %}
                    {% set media =
                        (medias[activo.id][constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')]|default(0) * activo.configuracion.peso1 / 100)
                        + (medias[activo.id][constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE')]|default(0) * activo.configuracion.peso2 / 100)
                        + (medias[activo.id][constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')]|default(0) * activo.configuracion.peso3 / 100)
                    -%}
                    {# Este valor no se usa en el piloto de la US
                    <div class="row py-2">
                        <div class="fila-campo col-sm-6">Puntuación sobre 60</div>
                        <div class="fila-valor col-sm-6">{{ (media * 6)|number_format(2, ',' ) }}</div>
                    </div>
                    #}
                    <div class="row py-2">
                        <div class="fila-campo col-sm-6">Puntuación sobre 100</div>
                        <div class="fila-valor col-sm-6">{{ (media * 10)|number_format(2, ',' ) }}</div>
                    </div>
                    <div class="row py-2">
                        <div class="fila-campo col-sm-6">Resultado</div>
                        <div class="fila-valor col-sm-6 fw-bold">
                            {%- if media < 6 -%}
                                <em class="fas fa-times text-danger"></em> NO SUPERADO
                            {%- else -%}
                                <em class="fas fa-check text-success"></em> SUPERADO
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif %}
            </div>
        {% endset -%}
    {% else %}
        {%- set datos = 'Sin datos' -%}
    {% endif %}
    {{- include('layout/_dialogo_info.html.twig', {id: 'dialogoResultado', titulo: 'Resultado', contenido: datos}) }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        // Rechazar evaluación
        const rechaza = document.querySelector('#rechaza');
        if (rechaza !== null) {
            rechaza.addEventListener('click', (evt) => {
                evt.preventDefault();
                document.querySelector('#dialogoRechaza').showModal();
            });
            document.querySelector('#dialogoRechazaAceptar').addEventListener('click', () => {
                window.location.href = rechaza.dataset.url;
            });
        }
        // Recuperar evaluación
        const recupera = document.querySelector('#recupera');
        if (recupera !== null) {
            recupera.addEventListener('click', (evt) => {
                evt.preventDefault();
                document.querySelector('#dialogoRecupera').showModal();
            });
            document.querySelector('#dialogoRecuperaAceptar').addEventListener('click', () => {
                window.location.href = recupera.dataset.url;
            });
        }
        // Habilitación para puesto actual
        const habilita = document.querySelector('#habilita');
        if (habilita !== null) {
            habilita.addEventListener('click', (evt) => {
                evt.preventDefault();
                document.querySelector('#dialogoHabilita').showModal();
            });
            document.querySelector('#dialogoHabilitaAceptar').addEventListener('click', () => {
                window.location.href = habilita.dataset.url;
            });
        }
        // Mostrar resultados provisional y definitivo
        const resultado = document.querySelector('#dialogoResultado');
        const provisional = document.querySelector('#provisional');
        if (provisional !== null) {
            provisional.addEventListener('click', (evt) => {
                evt.preventDefault();
                resultado.dataset.tipo = 'provisional';
                document.querySelector('#dialogoResultadoTitulo').innerHTML = 'Resultado ' + resultado.dataset.tipo;
                resultado.showModal();
            });
        }
        const definitiva = document.querySelector('#definitiva');
        if (definitiva !== null) {
            definitiva.addEventListener('click', (evt) => {
                evt.preventDefault();
                resultado.dataset.tipo = 'definitivo';
                document.querySelector('#dialogoResultadoTitulo').innerHTML = 'Resultado ' + resultado.dataset.tipo;
                resultado.showModal();
            });
        }
        // Enlaces para seleccionar tab
        document.querySelectorAll('.activarTab').forEach((enlace) => {
            enlace.addEventListener('click', (evt) => {
                evt.preventDefault();
                document.querySelector(enlace.dataset.bsTarget).dispatchEvent(new Event('click'));
            });
        });
    </script>
{% endblock %}