{% extends '/layout/base.html.twig' %}
{% set titulo = titulo|default(aplicacion.nombre) %}

{% block content %}
    <a class="float-end" href="{{ path('intranet_ayuda_show', {'aplic': aplicacion.ruta|regex_replace('/^intranet_/', '')}) }}">
        <span class="fas fa-info-circle"></span> Ayuda
    </a>
    <div class="pagina-titulo">
        {{- titulo }}
        {%- if aplicacion.estadoActual and aplicacion.estadoActual.color %}
            <sup class="badge bg-{{ aplicacion.estadoActual.color }}"><span class="fas fa-sm {{ aplicacion.estadoActual.icono }}"></span> {{ aplicacion.estadoActual }}</sup>
        {%- endif %}
    </div>
    <p class="">{{ aplicacion.descripcion }}</p>

    {#- Acciones comunes. #}
    <div class="my-4">
        <div class="pagina-seccion">Fase para la autoevaluación del desempeño</div>
        <div class="container-fluid my-2">
            <em class="me-2 fas fa-info-circle text-info"></em>Artículos 9 y 11<br>
            Dirigida a todas las personas empleadas del PTGAS: la autoevaluación de las competencias se
            realiza mediante la cumplimentación del cuestionario de competencias. Cada conducta incluida en el
            cuestionario deberá ser valorada por la propia persona empleada pública, aplicando una escala Likert de 1 a
            10, y podrá señalar una o varias conductas específicas que sirvan como justificación y
            evidencia del valor dado en cada una de las conductas del cuestionario.
        </div>
        <div class="container-fluid my-2">
            La autoevaluación por parte de la persona empleada pública tendrá un valor ponderado
            del 34%, con respecto al máximo de los 60 puntos con los que se puntúan las competencias profesionales.
        </div>
        <div class="container-fluid my-2">
            La escala Likert queda definida en <a href="#documenots">documentos de interés</a>.
            A fin de homogeneizar los criterios de calificación, cada persona empleada pública debe consultar este
            documento <strong>antes de comenzar su autoevaluación</strong> y aplicar la escala Lickert conforme a sus
            indicaciones.
        </div>
        <ul class="lead my-3">
            <li>
{#                <a href="{{ path(aplicacion.ruta ~ '_evalua_index') }}">#}
                    Cuestionario para autoevaluación de competencias
{#                </a>#}
            </li>
            <li>Comprobar evaluadores</li>
            <li>Incidencias para autoevaluación</li>
            <li class="alert alert-primary">Solicito no participar en el proceso de autoevaluación del desempeño (o revocar solicitud)</li>
        </ul>
        <div class="pagina-seccion">Fase para la evaluación por parte de los responsables</div>
        <div class="container-fluid my-2">
            <em class="me-2 fas fa-info-circle text-info"></em>Artículos 9 y 11<br>
            Esta fase va dirigida al responsable superior jerárquico, que deberá responder el cuestionario evaluando a
            cada persona a su cargo. Deberá señalar una o varias conductas específicas que sirvan como justificación y
            evidencia del valor dado en cada una de las conductas del cuestionario. La evaluación de la Universidad
            tiene un valor ponderado del 66% del valor total, con respecto al máximo de 60 puntos con los que se puntúan
            las competencias profesionales.
        </div>
        <ul class="lead my-3">
            <li>Cuestionario de evaluación de competencias de otras personas</li>
            <li>Comprobar relación de personas a evaluar</li>
            <li>Incidencias de evaluación</li>
        </ul>
        <div class="pagina-seccion">Fase para la evaluación por parte de otras personas evaluadoras</div>
        <div class="container-fluid my-2">
            <em class="me-2 fas fa-info-circle text-info"></em>Artículos 9 y 11<br>
            Esta fase va dirigida a otras personas evaluadoras que intervienen en el proceso de evaluación.
        </div>
        <div class="pagina-seccion">Resultados de la evaluación</div>
        <ul class="lead my-3">
            <li>Resultado parcial de la autoevaluación</li>
            <li>Resultado parcial de la evaluación del responsable</li>
            <li>Resultado parcial de la evaluación con la participación de otras personas evaluadoras</li>
            <li>Resultado provisional del proceso de evaluación del desempeño</li>
            <li>Resultado final del proceso de evaluación del desempeño</li>
        </ul>
        <div class="pagina-seccion" id="documenots">Documentos de interés</div>
        <ul class="lead my-3">
            <li>Texto del acuerdo</li>
            <li>Escala Lickert</li>
        </ul>
    </div>

    {#- Mostrar roles de la aplicación con permiso para el usuario. #}
    {%- set admin = false -%}
    {%- for rol in aplicacion.roles|default -%}
        {%- for p in aplicacion.permisos|filter(p => p.usuario == app.user)|filter(r => r.rol == rol) -%}
            {%- if p.estado.nombre == constant('App\\Entity\\Sistema\\Estado::PUBLICADO') %}
                {%- if p.rol.ruta == 'admin' %}
                    {%- set admin = true -%}
                {%- endif %}
                <div class="h5">
                    <a href="{{ path(aplicacion.ruta ~ '_' ~ rol.ruta) }}">
                        <span class="fas {{ rol.icono }}"></span> {{ rol.nombre }}
                    </a>
                    {% if p.unidad %} <span class="badge rounded-pill">({{ p.unidad.nombre }})</span>{% endif %}
                </div>
                <p>{{ rol.descripcion }}</p>
            {%- else %}
                <div class="h5">
                    <span class="fas {{ rol.icono }}"></span> {{ rol.nombre }}
                    <sup class="bg-{{ p.estado.color|default }}">({{ p.estado.nombre }})</sup>
                </div>
            {%- endif %}
        {%- endfor -%}
    {%- endfor -%}

    {#- Si el usuario tiene acceso, se muestran las aplicaciones relacionadas (excepto "Sistema"). -#}
    {%- if admin %}
        {%- for aplic in aplicacion.dependientes|merge(aplicacion.dependencias)|filter(a => a.nombreCorto != 'Sistema') %}
            {%- if loop.first %}<div class="pagina-seccion">Aplicaciones relacionadas</div>{% endif %}
            <h5 class="ms-4"><a href="{{ path(aplic.ruta) }}">{{ aplic.nombre }}</a></h5>
        {%- endfor %}
    {%- endif %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('intranet_usuario_aplicacion') }}"><span class="fas fa-tools"></span> Mis Aplicaciones</a></li>
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}
