{% extends path(aplicacion.ruta) ~ '/incidencia_index.html.twig' %}

{% block content %}
    <div class="badge-primary rounded-pill float-end">{{ app.user.persona }}</div>
    <div class="pagina-titulo">{{ titulo }}</div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="linea-botones">
        <button class="btn btn-primary"><em class="fas fa-save"></em> {{ button_label|default('Guardar') }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block botones %}{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path(aplicacion.ruta ~ '_admin_incidencia_index') }}">Incidencias</a></li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        import { Popover } from 'bootstrap';
        const ayuda = new Popover('#ayudaEstados', {html: true,});
    </script>
{% endblock %}