{% extends path(aplicacion.ruta) ~ '/admin/index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="row py-2">
        <div class="fila-campo">Id</div>
        <div class="fila-valor">{{ incidencia.id }}</div>
    </div>
    <div class="row py-2">
        <div class="fila-campo">Estado actual</div>
        <div class="fila-valor">
            <span class="badge">
                <em class="bg-{{ incidencia.incidencia.apuntes.last.estado.color }} p-1 fas {{ incidencia.incidencia.apuntes.last.estado.icono|default }}"></em>
            </span>
            {{- incidencia.incidencia.apuntes.last.estado.nombre|default -}}
        </div>
    </div>
    <div class="row py-2">
        <div class="fila-campo">Descripción</div>
        <div class="fila-valor">{{ incidencia.incidencia.descripcion }}</div>
    </div>
    <div class="row py-2">
        <div class="fila-campo">Solicitante</div>
        <div class="fila-valor">{{ incidencia.incidencia.solicitante.persona }}</div>
    </div>

    <div class="row py-2">
        <div class="fila-campo">Histórico de la incidencia</div>
        <div class="fila-valor w-75">
            <table class="table" id="datosApuntes">
                <thead>
                <tr>
                    <th>Estado</th>
                    <th>Fecha inicial</th>
                    <th>Fecha final</th>
                    <th>Comentario</th>
                    <th>Autor</th>
                    <th data-dt-order="disable">Acciones</th>
                </tr>
                </thead>
                {%- set inicio = 0 -%}
                {%- set fin = 0 -%}
                {%- for apunte in incidencia.incidencia.apuntes %}
                    <tr>
                        <td>
                            <span class="badge">
                                <em class="bg-{{ apunte.estado.color }} p-1 fas {{ apunte.estado.icono|default }}"></em>
                            </span>
                            {{- apunte.estado.nombre|default -}}
                        </td>
                        <td>{{ apunte.fechaInicio ? apunte.fechaInicio | date('d/m/Y, H:i') }}</td>
                        <td>{{ apunte.fechaFin ? apunte.fechaFin | date('d/m/Y, H:i') }}</td>
                        <td>{{ apunte.comentario }}</td>
                        <td>{{ apunte.autor.persona }}</td>
                        <td>
                            {%- if incidencia.incidencia.apuntes.last.estado.nombre|default != constant('App\\Entity\\Sistema\\Estado::FINALIZADO')  and loop.last %}
{#                                <a href="{{ path('intranet_cirhus_admin_incidencia_apunte_edit',{'incidencia': incidencia.id, 'apunte': apunte.id}) }}">#}
                                    <span class="mx-1 fas fa-edit" title="Editar"></span>
{#                                </a>#}
                            {% endif %}
                        </td>
                    </tr>
                    {% if loop.first %}{% set inicio = apunte.fechaInicio | date('U') %}{% endif -%}
                    {% if loop.last %}{% set fin = apunte.fechaFin ? apunte.fechaFin|date('U') : 0 %}{% endif -%}
                {% endfor -%}
            </table>
            {%- if fin > 0 %}
                <div class="progress-stacked">
                    {%- set total = fin - inicio -%}
                    {%- for apunte in incidencia.incidencia.apuntes -%}
                        {%- set valor = (apunte.fechaFin|date('U') - apunte.fechaInicio|date('U')) * 100 // total %}
                        <div class="progress" role="progressbar" aria-label="Apunte {{ loop.index }}"
                             aria-valuenow="{{ valor }}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{ loop.last ? 1 : valor }}%">
                            <div class="progress-bar bg-{{ apunte.estado.color }}"></div>
                        </div>
                    {%- endfor -%}
                </div>
            {%- endif %}
        </div>
    </div>
{% endblock %}

{% block botones %}
    {%- if incidencia.incidencia.apuntes.last.estado.nombre != constant('App\\Entity\\Sistema\\Estado::FINALIZADO') %}
        <li class="boton-inferior nav-item me-2">
{#            <a class="btn btn-primary" href="{{ path(aplicacion.ruta ~ '_admin_incidencia_edit', {'incidencia': incidencia.id}) }}">#}
                <span class="fas fa-edit"></span> Editar
{#            </a>#}
        </li>
        <li class="nav-item me-2">
{#            <a class="btn btn-primary" href="{{ path(aplicacion.ruta ~ '_admin_incidencia_apunte', {'incidencia': incidencia.id}) }}">#}
                <span class="mx-1 fas fa-project-diagram"></span> Cambiar estado
{#            </a>#}
        </li>
        {%- if incidencia.incidencia.apuntes.last.estado.nombre == constant('App\\Entity\\Sistema\\Estado::INICIADO') %}
            <li class="nav-item ms-5 me-2">
                borrar apunte
{#                {{ include(path(aplicacion.ruta) ~ '/admin/incidencia/_delete_form.html.twig') }}#}
            </li>
        {%- endif %}
    {%- endif %}
{% endblock %}

{% block modal %}{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path(aplicacion.ruta ~ '_admin_incidencia_index') }}">Incidencias</a></li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        const datosApuntes = $('#datosApuntes').DataTable({
            info: false,
            language: {
                url: '{{ asset("includes/datatable_noinfo.es.json") }}'
            },
        });
    </script>
{% endblock %}