{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="ejemplos visually-hidden">
        {% for id, tipo in tipos -%}
            <div id="ejemplo-{{ id }}" data-tipo="{{ id }}">
                {{- include('desempenyo/admin/pregunta/_pregunta_' ~ tipo.fichero|default ~ '.html.twig', {ejemplo: true}, ignore_missing = true) }}
            </div>
        {%- endfor %}
    </div>
    <div class="alert alert-info">
        <em class="me-2 fas fa-info-circle text-info"></em>
        Se recomienda no modificar los valores de las <strong>Opciones</strong> predefinidas.
        El evaluador podrá incluir las <strong>evidencias</strong> relacionadas con su valoración en el campo
        <strong>Observaciones</strong>.
    </div>
    <div class="linea-botones">
        <button class="btn btn-primary"><em class="fas fa-save"></em> {{ button_label|default('Guardar') }}</button>
    </div>
{{ form_end(form) }}
