{% extends path(aplicacion.ruta) ~ '/admin/pregunta/index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="alert alert-info">
        <em class="fas fa-info-circle"></em>
        Si se desea modificar el tipo de pregunta, ésta debe ser eliminada y creada de nuevo con el tipo adecuado.
    </div>
    {{ include(path(aplicacion.ruta) ~ '/admin/pregunta/_form.html.twig', {button_label: 'Actualizar'}) }}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta ~ '_admin_pregunta_index', {cuestionario: cuestionario.id, grupo: grupo.id}) }}">Preguntas</a>
    </li>
{% endblock %}

{% block botones %}{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        {{ include('intranet/cuestiona/admin/pregunta/_form.js') }}
        {%- if tipos[pregunta.tipo].dinamico %}
            {{ include('intranet/cuestiona/admin/pregunta/_form_dinamico.js') }}
        {%- endif %}
    </script>
{% endblock %}