{% extends 'desempenyo/admin/grupo/index.html.twig' %}
{%- set tipos %}
    {{- render(controller('App\\Controller\\Cuestiona\\PreguntaController::getTipos')) }}
{%- endset %}
{%- set tipos = tipos|json_decode %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="mt-4">
        <table class="tabla-condensada" id="datosPreguntas">
            <caption class="caption-top">
                {{- cuestionario.titulo -}}
                {%- if grupo != null %} / {{ grupo.codigo ~ '. ' ~ grupo.titulo }}{% endif -%}
            </caption>
            <thead class="cabecera-condensada">
                <tr>
                    <th>Orden</th>
                    <th>Orden</th>
                    <th class="text-center">Activa</th>
                    <th>Cuestionario</th>
                    <th>Código</th>
                    <th>Pregunta</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for pregunta in preguntas -%}
                <tr class="fila" data-id="{{ pregunta.id }}">
                    <td>
                        {%- if preguntas|length > 1 -%}
                            <span class="badge-secondary" title="Reordenar preguntas"><em class="fas fa-sort"></em></span>
                        {%- endif -%}
                    </td>
                    <td>{{ pregunta.orden }}</td>
                    <td class="text-center">
                        {%- if pregunta.activa -%}
                            Sí <sup><em class="fas fa-check text-success }}"></em></sup>
                        {%- else -%}
                            No <sup><em class="fas fa-times text-danger }}"></em></sup>
                        {%- endif -%}
                    </td>
                    <td>
                        {%- if pregunta.reducida -%}
                            <span class="badge-warning }}">reducido</span>
                        {%- else -%}
                            <span class="badge-info }}">completo</span>
                        {%- endif -%}
                    </td>
                    <td>{{ pregunta.codigo }}</td>
                    <td>{{ pregunta.titulo }}</td>
                    <td class="text-start">{{ tipos[pregunta.tipo].leyenda|default(pregunta.tipo) }}</td>
                    <td>
                        <a href="{{ path('desempenyo_admin_pregunta_show', {cuestionario: cuestionario.id, grupo: grupo.id, pregunta: pregunta.id}) }}">
                            <em class="mx-1 fas fa-eye" title="Ver"></em>
                        </a>
                        {%- if cuestionario.estado.nombre == constant('App\\Entity\\Estado::BORRADOR') %}
                            <a href="{{ path('desempenyo_admin_pregunta_edit', {cuestionario: cuestionario.id, grupo: grupo.id, pregunta: pregunta.id}) }}">
                                <em class="mx-1 fas fa-edit" title="Editar"></em>
                            </a>
                        {%- endif %}
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
        {%- if grupo != null and preguntas|length > 1 %}
            <div>
                <em class="mx-1 fas fa-info-circle text-info"></em>
                El orden de las preguntas se modifica seleccionando y arrastrando el icono de la fila deseada.
                Al finalizar, los cambios pueden grabarse pulsando sobre el botón de guardar.
            </div>
        {%- endif %}
    </div>
{% endblock %}

{% block botones %}
    {%- if grupo != null %}
        {%- if cuestionario.estado.nombre == constant('App\\Entity\\Estado::BORRADOR') %}
            <li class="nav-item me-2">
                <button id="crear" class="btn btn-primary"><em class="fas fa-plus"></em> Crear pregunta</button>
            </li>
        {%- endif %}
        {%- if preguntas|length > 1 %}
            <li class="nav-item me-2">
                <a id="ordenar" class="btn btn-primary disabled" href=""><em class="fas fa-save"></em> Grabar orden</a>
            </li>
            <div id="aviso" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body"></div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        {%- endif %}
    {%- endif %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('desempenyo_admin_grupo_index', {id: cuestionario.id}) }}">Grupos</a></li>
    <li class="breadcrumb-item text-truncate" style="max-width: 15%">
        <a href="{{ path('desempenyo_admin_grupo_show', {cuestionario: cuestionario.id, grupo: grupo.id}) }}">{{ grupo.codigo }}</a>
    </li>
{% endblock %}

{% block modal %}
    {%- set etiquetas = tipos|map(t => t.etiqueta)|reduce((unicos, elem) => elem in unicos ? unicos : unicos|merge([elem]), []) %}
    <div class="modal fade" id="modalTipos" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content p-4">
                <div class="h3">Elegir tipo de pregunta</div>
                    <table class="tabla-condensada">
                        <thead class="cabecera-condensada">
                        <tr>
                            <th>Tipo</th>
                            <th>Ejemplo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for id, tipo in tipos|filter((t, i) => opciones is defined and i in opciones|keys) -%}
                            <tr>
                                <td>
                                    <a href="{{ path('desempenyo_admin_pregunta_new', {cuestionario: cuestionario.id, grupo: grupo.id, tipo: id, opciones: opciones[id]|json_encode}) }}">
                                        {{ tipo.leyenda }}
                                    </a>
                                </td>
                                <td>
                                    {{- include('desempenyo/admin/pregunta/_pregunta_' ~ tipo.fichero ~ '.html.twig', {ejemplo: true}, ignore_missing = true) }}
                                </td>
                            </tr>
                        {%- endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        import { Modal, Toast } from 'bootstrap';

        const modalTips = new Modal('#modalTipos');
        const ordenar = $('#ordenar');
        const preguntas = $('#datosPreguntas').dataTable({
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [2, 3, 4, 5],
                    },
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [2, 3, 4, 5, 6],
                    },
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [2, 3, 4, 5],
                    },
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [2, 3, 4, 5],
                    },
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            columnDefs: [
                {
                    visible: false,
                    targets: [1],
                },
                {
                    searchable: false,
                    targets: [0, 1, 7],
                },
                {
                    orderable: false,
                    targets: '_all'
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
            order: [
                [1, 'asc'],
            ],
            rowReorder: {
                dataSrc: 1,
                selector: 'td:first-child',
            },
        }).on('row-reordered.dt', function (e, diff) {
            // Activar botón de reordenar
            if (diff.length > 0) {
                ordenar.removeClass('disabled');
            }
        });
        // Aviso de resultado
        const aviso = new Toast('#aviso', {
            autohide: true,
            delay: 3000,
        });
        const mensaje = $('#aviso').find('.toast-body');
        // Reordenar preguntas
        ordenar.on('click', function (e) {
            e.preventDefault();
            let orden = [];
            $('.fila').each(function () {
                orden.push($(this).data('id'));
            });
            $.ajax({
                type: 'POST',
                url: "{{ path('desempenyo_admin_pregunta_orden', {'cuestionario': cuestionario.id, 'grupo': grupo.id}) }}",
                data: {'orden': orden},
                dataType: 'JSON',
                async: true,
                success: function () {
                    mensaje.html('Orden de las preguntas actualizado.');
                    $('#aviso').addClass('text-bg-warning').removeClass('text-bg-danger');
                    aviso.show();
                    ordenar.addClass('disabled');
                },
                error: function (xhr) {
                    let texto = xhr['responseJSON']['mensaje'] ?? 'Se ha producido un error al guardar los datos.';
                    mensaje.html('<small>' + texto + '</small>');
                    $('#aviso').addClass('text-bg-danger').removeClass('text-bg-warning');
                    aviso.show();
                },
            });
        });
        // Modal para elegir el tipo de pregunta
        $('#crear').on('click', function (e) {
            e.preventDefault();
            modalTips.show();
        });
    </script>
{% endblock %}
