{% extends 'desempenyo/index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">Gestionar cuestionarios de evaluaci칩n</div>
    <ul>
        <li>
            <a href="{{ path('desempenyo_admin_cuestionario_index') }}">
                Definir cuestionarios de evaluaci칩n y cargar datos de evaluadores
            </a>
        </li>
    </ul>

    <div class="pagina-seccion">Gestionar componentes de la aplicaci칩n</div>
    <ul>
        <li><a href="{{ path('desempenyo_admin_incidencia_index') }}">Gestionar incidencias</a></li>
        <li><a href="{{ path('desempenyo_admin_tipo_incidencia_index') }}">Definir tipos de incidencias</a></li>
        <li><a href="{{ path('desempenyo_admin_plantilla_volcado') }}">Cargar datos de la plantilla actual</a></li>
    </ul>
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('desempenyo') }}"><em class="me-1 fas fa-user-check"></em>Desempe침o</a>
    </li>
{% endblock %}

{% block modal %}
{% endblock %}
