{% extends path(aplicacion.ruta) ~ '/index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">Gestionar cuestionarios de evaluación</div>
    <ul>
        <li>
            <a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_index') }}">
                Definir cuestionarios de evaluación y cargar datos de evaluadores
            </a>
        </li>
    </ul>

    <div class="pagina-seccion">Gestionar componentes de la aplicación</div>
    <ul>
        <li>
            <a href="{{ path(aplicacion.ruta ~ '_admin_tipo_incidencia_index') }}">
                Definir tipos de incidencias
            </a>
        </li>
    </ul>
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta) }}">
            <em class="me-1 fas {{ aplicacion.icono }}"></em>{{ aplicacion.nombreCorto }}
        </a>
    </li>
{% endblock %}