{% extends '/desempenyo/admin/servicio/index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="container-fluid py-4 g-4">
        <div class="row border-top border-bottom py-2">
            <div class="fila-campo">Id</div>
            <div class="fila-valor">{{ servicio.id }}</div>
        </div>
        <div class="row border-top border-bottom py-2">
            <div class="fila-campo">Código</div>
            <div class="fila-valor">{{ servicio.codigo }}</div>
        </div>
        <div class="row border-top border-bottom py-2">
            <div class="fila-campo">Nombre</div>
            <div class="fila-valor">{{ servicio.nombre }}</div>
        </div>
        <div class="row border-top border-bottom py-2">
            <div class="fila-campo">Correo electrónico</div>
            <div class="fila-valor">{{ servicio.correo }}</div>
        </div>
        <div class="row border-top border-bottom py-2">
            <div class="fila-campo">Teléfono</div>
            <div class="fila-valor">{{ servicio.telefono}}</div>
        </div>
        <div class="row border-top border-bottom py-2">
            <div class="fila-campo">Responsable</div>
            <div class="fila-valor">{{ servicio.responsable}}</div>
        </div>
    </div>
{% endblock %}

{% block botones %}
    <li class="nav-item me-2">
        <a class="btn btn-primary"
           href="{{ path('desempenyo_admin_servicio_edit', {id: servicio.id}) }}">
            <span class="fas fa-edit"></span> Editar
        </a>
    </li>
    <li class="nav-item ms-5 me-2">
        {{ include('desempenyo/admin/servicio/_delete_form.html.twig') }}
    </li>
{% endblock %}

{% block migas %}
    {{ parent() }}
        <li class="breadcrumb-item"><a href="{{ path('desempenyo_admin_servicio_index') }}">Servicio</a>
    </li>
{% endblock %}