{{ form_start(form) }}
{{ form_widget(form) }}
<div class="linea-botones">
    <button id="{{ button_label|default('Guardar')|lower }}" class="btn btn-primary">
        <em class="fas fa-save"></em> {{ button_label|default('Guardar') }}
    </button>
</div>
{{ form_end(form) }}
