{% extends path(aplicacion.ruta) ~ '/admin/cuestionario/index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">Cuestionario {{ cuestionario.codigo }}</div>
    <div class="container-fluid my-4 g-4">
        <div>
            El cuestionario de valoración solo podrá ser cumplimentado durante el periodo comprendido entre los días
            {{ cuestionario.fechaAlta|date('d/m/Y') }} y {{ cuestionario.fechaBaja|date('d/m/Y') }}.
        </div>
        <div>
            La dirección para rellenar este cuestionario es:
            <div class="bloque-codigo">{{ app.request.schemeAndHttpHost }}/{{ cuestionario.url }}</div>
        </div>
    </div>
{% endblock %}

{% block botones %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_index') }}">
            <span class="fas fa-list"></span> Cuestionarios
        </a>
    </li>
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_index') }}">Cuestionarios</a></li>
{% endblock %}

{% block modal %}{% endblock %}
