{% extends 'desempenyo/admin/cuestionario/show.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">Cuestionario {{ cuestionario.codigo }}</div>
    {{ include('desempenyo/admin/cuestionario/_form.html.twig', {button_label: 'Actualizar'}) }}
{% endblock %}

{% block botones %}{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('desempenyo_admin_cuestionario_show', {id: cuestionario.id}) }}">{{ cuestionario.codigo }}</a>
    </li>
{% endblock %}

{% block modal %}
    {{ include('layout/_dialogo_confirmar.html.twig', {
        texto: 'Activar un cuestionario implica que ya no podrá ser editado y que se empezarán a recibir respuestas.'
    }) }}
{% endblock %}

{% block js %}
    {{ parent() }}
    alert('{{activar }});
    {% if activar|default(false) %}
        <script type="module">
            const boton = document.querySelector('#actualizar');
            boton.addEventListener('click', function(e) {
                e.preventDefault();
                document.querySelector('#modalConfirma').showModal();
            });
            document.querySelector('#modalConfirmaAceptar').addEventListener('click', function() {
                boton.form.submit();
            });
        </script>
    {% endif %}
{% endblock %}