{% extends 'desempenyo/admin/index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="my-4">
        <table class="tabla-condensada" id="datosCuestionarios">
            <thead class="cabecera-condensada">
                <tr>
                    <th class="text-center">Estado</th>
                    <th>Código</th>
                    <th>Título</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Autor</th>
                    <th data-dt-order="disable">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {%- for cuestionario in cuestionarios %}
                <tr>
                    <td class="text-center">
                        {%- if cuestionario.estado %}
                            <em class="fas {{ cuestionario.estado.icono }} text-{{ cuestionario.estado.color }}"
                                title="{{ cuestionario.estado.nombre }}"></em>
                        {%- endif %}
                    </td>
                    <td>{{ cuestionario.codigo }}</td>
                    <td>{{ cuestionario.titulo }}</td>
                    <td>{{ cuestionario.fechaAlta ? cuestionario.fechaAlta|date('Y-m-d') }}</td>
                    <td>{{ cuestionario.fechaBaja ? cuestionario.fechaBaja|date('Y-m-d') }}</td>
                    <td>{{ cuestionario.autor.persona }}</td>
                    <td>
                        <a href="{{ path('desempenyo_admin_cuestionario_show', {id: cuestionario.id}) }}">
                            <em class="mx-1 fas fa-eye" title="Ver"></em>
                        </a>
                        <a href="{{ path('desempenyo_admin_evaluador_index', {id: cuestionario.id}) }}">
                            <em class="mx-1 fas fa-user-check" title="Evaluadores"></em>
                        </a>
                        <a href="{{ path('desempenyo_admin_grupo_index', {id: cuestionario.id}) }}">
                            <em class="mx-1 fas fa-object-group" title="Grupos de preguntas"></em>
                        </a>
                        {%- if cuestionario.estado.nombre == constant('App\\Entity\\Estado::PUBLICADO') %}
                            <a href="{{ path('desempenyo_admin_cuestionario_activar', {id: cuestionario.id}) }}">
                                <em class="mx-1 fas fa-calendar" title="Modificar plazo"></em>
                            </a>
                        {%- elseif cuestionario.estado.nombre == constant('App\\Entity\\Estado::BORRADOR') %}
                            <a href="{{ path('desempenyo_admin_cuestionario_edit', {id: cuestionario.id}) }}">
                                <em class="mx-1 fas fa-edit" title="Editar"></em>
                            </a>
                        {%- endif %}
                        {%- if cuestionario.estado.nombre == constant('App\\Entity\\Estado::PUBLICADO')
                            or cuestionario.estado.nombre == constant('App\\Entity\\Estado::ARCHIVADO') %}
                            <a href="{{ path('desempenyo_admin_formulario_index', {cuestionario: cuestionario.id}) }}">
                                <em class="mx-1 fas fa-list-check" title="Formularios entregados"></em>
                            </a>
                            <em class="mx-1 fas fa-upload" title="Cargar resultados finales"></em>
                        {%- endif %}
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
            {#- Leyenda de estados para cuestionarios. #}
            <caption class="mt-4">
                <span class="me-4">Estados</span>
                {%- for estado in estados|filter(e => e.tipo == constant('App\\Entity\\EstadoTipo::SISTEMA') and e => e.icono is not null) -%}
                    <span class="me-4 badge {% if estado.color %}text-{{ estado.color }}{% else %}text-black{% endif %}">
                        <em class="fas {{ estado.icono }}"></em> {{ estado.nombre }}</span>
                {%- endfor -%}
            </caption>
        </table>
    </div>
{% endblock %}

{% block botones %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{{ path('desempenyo_admin_cuestionario_new') }}">
            <em class="fas fa-plus"></em> Crear cuestionario
        </a>
    </li>
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('desempenyo_admin') }}">Administrador</a></li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $('#datosCuestionarios').dataTable({
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5],
                        stripHtml: false,
                    },
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5],
                    },
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5],
                    },
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
            order: [
                [3, 'asc'],
            ],
        });
    </script>
{% endblock %}
