{% extends path(aplicacion.ruta) ~ '/admin/cuestionario/resultado.html.twig' %}

{% block content %}
    {%- set config = cuestionario.configuracion %}
    {%- if config.peso3 == 0 %}
        {%- set tipos = {
            (constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')): 'Autoevaluación',
            (constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE')): 'Responsable'
        } -%}
    {%- else %}
        {%- set tipos = {
            (constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')): 'Autoevaluación',
            (constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE')): 'Responsable',
            (constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')): 'Tercer agente'
        } -%}
    {%- endif %}
    {%- set grupos = cuestionario.grupos|filter(g => g.activa)|sort((a, b) => a.orden <=> b.orden) %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">{{ cuestionario.titulo }}</div>

    <div class="my-4">
        <table class="tabla-condensada" id="datosMatriz">
            <caption class="caption-top">Resultados de {{ empleado.persona }}</caption>
            <thead class="cabecera-condensada">
            {% if detalle -%}
                <tr>
                    <th rowspan="2">Pregunta</th>
                    {% for tipo in tipos -%}
                        <th colspan="2">{{ tipo }}</th>
                    {% endfor -%}
                </tr>
                <tr>
                    {% for i in 1..tipos|length -%}
                        <th class="text-start">Puntos</th>
                        <th>Evidencias</th>
                    {% endfor -%}
                </tr>
            {% else -%}
                <tr>
                    <th>Pregunta</th>
                    {% for tipo in tipos -%}
                        <th>{{ tipo }}</th>
                    {% endfor -%}
                </tr>
            {%- endif %}
            </thead>
            <tbody>
            {% for grupo in grupos -%}
                <tr class="table-info fw-bold">
                    {% set cols = detalle ? tipos|length * 2 : tipos|length -%}
                    <td colspan="{{ cols + 1 }}" class="">{{ grupo.codigo }}. {{ grupo.titulo }}</td>
                    {% for i in 1..cols %}<td style="display: none;"></td>{% endfor %}
                </tr>
                {% set preguntas = grupo.preguntas|filter(p => p.activa)|sort((a, b) => a.orden <=> b.orden) %}
                {% for pregunta in preguntas -%}
                    <tr>
                        <td class="fw-bold">{{ pregunta }}</td>
                        {% for codigo, tipo in tipos -%}
                            {% if codigo != constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') and not pregunta.reducida
                                or codigo == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') and pregunta.reducida
                            -%}
                                <td>{{ respuestas[codigo][pregunta.id].valor|default|number_format(2, ',') }}</td>
                                {% if detalle %}<td>{{ respuestas[codigo][pregunta.id].observa|default }}</td>{% endif %}
                            {% else -%}
                                <td></td>
                                {% if detalle %}<td></td>{% endif %}
                            {% endif -%}
                        {% endfor -%}
                    </tr>
                {% endfor -%}
            {% endfor -%}
            <tr class="border-3 border-tertiary">
                <th>Media</th>
                {% for codigo, tipo in tipos -%}
                    <th>{{ medias[codigo]|default|number_format(2, ',') }}</th>
                    {% if detalle %}<th></th>{% endif %}
                {% endfor -%}
            </tr>
            {% set media =
                (medias[constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')]|default(0) * config['peso1'] / 100)
                + (medias[constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE')]|default(0) * config['peso2'] / 100)
                + (medias[constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')]|default(0) * config['peso3'] / 100)
            -%}
            <tr class="border-3 border-tertiary">
                <th>Nota final sobre 60 puntos</th>
                <th>{{ (media * 6)|number_format(2, ',' ) }}</th>
                {% for i in 1..(detalle ? (tipos|length * 2) - 1 : tipos|length - 1) %}<th></th>{% endfor %}
            </tr>
            <tr class="border-3 border-tertiary">
                <th>Nota final sobre 100 puntos</th>
                <th>{{ (media * 10)|number_format(2, ',' ) }}</th>
                {% for i in 1..(detalle ? (tipos|length * 2) - 1 : tipos|length - 1) %}<th></th>{% endfor %}
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}

{% block botones %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{{ path(app.current_route, app.current_route_parameters|merge({detalle: not detalle})) }}">
            {%- if detalle %}
                <em class="fas fa-table"></em> Matriz de resultados
            {%- else %}
                <em class="fas fa-table-cells"></em> Matriz detallada
            {%- endif %}
        </a>
    </li>
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta ~ '_admin_formulario_index', {cuestionario: cuestionario.id}) }}">
            Entregados
        </a>
    </li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $('#datosMatriz').dataTable({
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
            ordering: false,
        });
    </script>
{% endblock %}