{% extends path(aplicacion.ruta) ~ '/admin/cuestionario/index.html.twig' %}

{% block content %}
    {%- set config = cuestionario.configuracion %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">Cuestionario {{ cuestionario.codigo }}</div>
    <div class="my-4">
        <table class="tabla-condensada" id="datosResultados">
            <thead class="cabecera-condensada">
            <tr>
                <th data-dt-order="disable"></th>
                <th colspan="2" data-dt-order="disable">Autoevaluación ({{ config.peso1 }}%)</th>
                <th colspan="2" data-dt-order="disable">Evaluación responsable ({{ config.peso2 }}%)</th>
                <th colspan="2" data-dt-order="disable">Evaluación tercer agente ({{ config.peso3 }}%)</th>
                <th data-dt-order="disable"></th>
                <th rowspan="2" data-dt-order="disable">Acciones</th>
            </tr>
            <tr>
                <th>Empleado</th>
                <th>Puntos</th>
                <th>Fecha</th>
                <th>Puntos</th>
                <th>Fecha</th>
                <th>Puntos</th>
                <th>Fecha</th>
                <th>Total calculado</th>
            </tr>
            </thead>
            <tbody>
            {%- for formulario in formularios|filter(f => f.formulario.fechaEnvio) %}
            <tr>
                <td>{{ formulario.empleado.persona }}</td>
                {%- for tipo in [
                    constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION'),
                    constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'),
                    constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO'),
                ] %}
                    <td>{{ puntos[formulario.empleado.id][tipo]|default }}</td>
                    <td>{{ puntos[formulario.empleado.id][tipo]|default ? formulario.formulario.fechaEnvio|date('Y-m-d') }}</td>
                {%- endfor %}
                <td>
                    {{- (puntos[formulario.empleado.id][constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')]|default(0) * config['peso1'] / 100)
                        + (puntos[formulario.empleado.id][constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE')]|default(0) * config['peso2'] / 100)
                        + (puntos[formulario.empleado.id][constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')]|default(0) * config['peso3'] / 100) -}}
                </td>
                <td></td>
            </tr>
            {%- endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_index') }}">Cuestionarios</a></li>
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_show', {'id': cuestionario.id}) }}">{{ cuestionario.codigo }}</a>
    </li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $('#datosResultados').dataTable({
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
        });
    </script>
{% endblock %}