{% extends path(aplicacion.ruta) ~ '/admin/cuestionario/index.html.twig' %}

{% block content %}
    {%- set config = cuestionario.configuracion %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">{{ cuestionario.titulo }}</div>
    <div class="my-4">
        <table class="tabla-condensada" id="datosResultados">
            <thead class="cabecera-condensada">
            <tr>
                <th data-dt-order="disable"></th>
                <th data-dt-order="disable"></th>
                <th data-dt-order="disable"></th>
                <th colspan="2" data-dt-order="disable">({{ config.peso1 }}%)</th>
                <th colspan="2" data-dt-order="disable">({{ config.peso2 }}%)</th>
                <th colspan="2" data-dt-order="disable">({{ config.peso3 }}%)</th>
                <th colspan="2" data-dt-order="disable" class="text-center">Piloto</th>
                <th colspan="2" data-dt-order="disable" class="text-center">Desempeño</th>
                <th rowspan="2" data-dt-order="disable">Acciones</th>
            </tr>
            <tr>
                <th><abbr title="Rechazo">R</abbr></th>
                <th><abbr title="Rechazo verificado">VR</abbr></th>
                <th>Empleado</th>
                <th class="text-start">Media</th>
                <th class="text-start">Fecha</th>
                <th class="text-start">Media</th>
                <th class="text-start">Fecha</th>
                <th class="text-start">Media</th>
                <th class="text-start">Fecha</th>
                <th class="text-start">A 60</th>
                <th class="text-start">A 100</th>
                <th class="text-start"><abbr title="Competencias">CCIAS</abbr></th>
                <th class="text-start"><abbr title="Objetivos">DPO.</abbr></th>
            </tr>
            </thead>
            <tbody>
            {%- for idEmpleado, dato in datos %}
                <tr>
                    <td>
                        {%- if (dato|first).formulario.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION' )%}
                            Sí
                        {%- endif %}
                    </td>
                    <td></td>
                    <td>{{ (dato|first).formulario.empleado.persona }}</td>
                    {%- if (dato|first).formulario.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION' )%}
                        <td>0</td>
                        <td>{{ (dato|first).formulario.rechazado ? (dato|first).formulario.rechazado|date('Y-m-d') }}</td>
                        {%- set tipos = [
                            constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'),
                            constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO'),
                        ] %}
                    {%- else %}
                        {%- set tipos = [
                            constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION'),
                            constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'),
                            constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO'),
                        ] %}
                    {%- endif %}
                    {%- for tipo in tipos %}
                        <td>{{ dato[tipo].puntos|default|number_format(2, ',' ) }}</td>
                        <td>{{ dato[tipo] is defined ? (dato[tipo].formulario.formulario.fechaEnvio ? dato[tipo].formulario.formulario.fechaEnvio|date('Y-m-d')) }}</td>
                    {%- endfor %}
                    {%- set media =
                        (dato[constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')].puntos|default(0) * config['peso1'] / 100)
                        + (dato[constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE')].puntos|default(0) * config['peso2'] / 100)
                        + (dato[constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')].puntos|default(0) * config['peso3'] / 100)
                    -%}
                    <td {% if (media * 6) < 36 %}class="bg-danger text-bg-danger"{% endif %}>{{ (media * 6)|number_format(2, ',' ) }}</td>
                    <td {% if (media * 10) < 60 %}class="bg-danger text-bg-danger"{% endif %}>{{ (media * 10)|number_format(2, ',' ) }}</td>
                    <td {% if (media * 6) < 20 %}class="bg-danger text-bg-danger"{% endif %}>{{ (media * 6)|number_format(2, ',' ) }}</td>
                    <td>{{ 0|number_format(2, ',' ) }}</td>
                    <td>
                        <a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_formulario_matriz', {cuestionario: cuestionario.id, empleado: idEmpleado}) }}">
                            <em class="mx-1 fas fa-table" title="Matriz de resultados"></em>
                        </a>
                        <a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_formulario_matriz', {cuestionario: cuestionario.id, empleado: idEmpleado, detalle: true}) }}">
                            <em class="mx-1 fas fa-table-cells" title="Matriz detallada"></em>
                        </a>
                        <em class="mx-1 fas fa-pen-clip" title="Correción tribunal"></em>
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block botones %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_index') }}">Cuestionarios</a></li>
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_show', {id: cuestionario.id}) }}">{{ cuestionario.codigo }}</a>
    </li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $('#datosResultados').dataTable({
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                    },
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                    },
                    orientation: 'landscape',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                    },
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                    },
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
            order: [
                [2, 'asc'],
            ],
        });
    </script>
{% endblock %}