{% extends 'desempenyo/admin/cuestionario/show.html.twig' %}

{% block content %}
    {%- set config = cuestionario.configuracion %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">{{ cuestionario.titulo }}</div>
    <div class="my-4">
        <table class="tabla-condensada" id="datosResultados">
            <thead class="cabecera-condensada">
            <tr>
                <th data-dt-order="disable" colspan="2"></th>
                <th colspan="2" data-dt-order="disable">({{ config.peso1 }}%)</th>
                <th colspan="2" data-dt-order="disable">({{ config.peso2 }}%)</th>
                <th colspan="2" data-dt-order="disable">({{ config.peso3 }}%)</th>
                <th colspan="2" data-dt-order="disable" class="text-center">Piloto</th>
                <th colspan="2" data-dt-order="disable" class="text-center">Desempeño</th>
                <th data-dt-order="disable" class="text-center" title="Tribunal General">Tribunal</th>
                <th rowspan="2" data-dt-order="disable">Acciones</th>
            </tr>
            <tr>
                <th>Empleado</th>
                <th class="text-start"><abbr title="Validado en Registro General">V.R.</abbr></th>
                <th class="text-start">Media</th>
                <th class="text-start">Fecha</th>
                <th class="text-start">Media</th>
                <th class="text-start">Fecha</th>
                <th class="text-start">Media</th>
                <th class="text-start">Fecha</th>
                <th class="text-start">A 60</th>
                <th class="text-start">A 100</th>
                <th class="text-start"><abbr title="Competencias">CCIAS</abbr></th>
                <th class="text-start"><abbr title="Objetivos">DPO.</abbr></th>
                <th class="text-start">A 100</th>
            </tr>
            </thead>
            <tbody>
            {% for idEmpleado, dato in datos -%}
                <tr>
                    <td>{{ (dato|first).formulario.empleado }}</td>
                    {%- if rechazos[idEmpleado] is defined %}
                        <td>{{ rechazos[idEmpleado].registrado ? rechazos[idEmpleado].registrado|date('Y-m-d') }}</td>
                        <td>{{ 0|number_format(2, ',' ) }}</td>
                        <td></td>
                        {%- set tipos = [
                            constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'),
                            constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO'),
                        ] %}
                    {%- else %}
                        <td></td>
                        {%- set tipos = [
                            constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION'),
                            constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'),
                            constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO'),
                        ] %}
                    {%- endif %}
                    {% for tipo in tipos -%}
                        <td>{{ dato[tipo].puntos|default|number_format(2, ',' ) }}</td>
                        <td>{{ dato[tipo] is defined ? (dato[tipo].formulario.formulario.fechaEnvio is defined ? dato[tipo].formulario.formulario.fechaEnvio|date('Y-m-d')) }}</td>
                    {%- endfor %}
                    {%- set media = rechazos[idEmpleado].registrado|default(false) ? 0 :
                        (dato[constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')].puntos|default(0) * config['peso1'] / 100)
                        + (dato[constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE')].puntos|default(0) * config['peso2'] / 100)
                        + (dato[constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')].puntos|default(0) * config['peso3'] / 100)
                    -%}
                    {% set correccion = dato[constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')].formulario.correccion|default %}
                    <td class="{{ (media * 6) < 36 ? 'bg-danger text-bg-danger' }}">{{ (media * 6)|number_format(2, ',' ) }}</td>
                    <td class="{{ (media * 10) < 60 ? 'bg-danger text-bg-danger' }}">{{ (media * 10)|number_format(2, ',' ) }}</td>
                    <td class="{{ (media * 6) < 20 ? 'bg-danger text-bg-danger' }}">{{ (media * 6)|number_format(2, ',' ) }}</td>
                    <td>{{ 0|number_format(2, ',' ) }}</td>
                    <td class="{{ correccion != '' and correccion < 60 ? 'bg-danger text-bg-danger' }}">
                        {{ correccion != '' ? correccion|number_format(2, ',' ) }}
                    </td>
                    <td>
                        <a href="{{ path('desempenyo_admin_formulario_matriz', {cuestionario: cuestionario.id, empleado: idEmpleado}) }}">
                            <em class="mx-1 fas fa-table" title="Matriz de resultados"></em>
                        </a>
                        <a href="{{ path('desempenyo_admin_formulario_matriz', {cuestionario: cuestionario.id, empleado: idEmpleado, detalle: true}) }}">
                            <em class="mx-1 fas fa-table-cells" title="Matriz detallada"></em>
                        </a>
                        {% if cuestionario.configuracion.provisional.date is defined and cuestionario.configuracion.provisional.date|date('c') < 'now'|date('c') and
                            cuestionario.configuracion.definitiva.date is defined and cuestionario.configuracion.definitiva.date|date('c') > 'now'|date('c')
                        %}
                            {# Solo disponible en periodo de resultados provisionales y antes de definitivos #}
                            <a class="corrige"
                               data-url="{{ path('desempenyo_admin_cuestionario_formulario_corrige', {cuestionario: cuestionario.id, empleado: idEmpleado}) }}">
                                <em class="mx-1 fas fa-pen-clip" title="Corrección tribunal"></em>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block botones %}
    {% if cuestionario.configuracion.provisional.date is defined and cuestionario.configuracion.provisional.date|date('c') < 'now'|date('c') and
        cuestionario.configuracion.definitiva.date is defined and cuestionario.configuracion.definitiva.date|date('c') > 'now'|date('c')
    %}
        {# Solo disponible en periodo de resultados provisionales y antes de definitivos #}
        <li class="nav-item me-2">
            <button class="btn btn-primary" id="traslada"
                    title="Trasladar valoraciones provisionales a definitivas del tribunal"
                    data-url="{{ path('desempenyo_admin_formulario_traslada', {cuestionario: cuestionario.id}) }}">
                <em class="mx-1 fas fa-dolly"></em> Trasladar valores
            </button>
        </li>
    {% endif %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('desempenyo_admin_cuestionario_show', {id: cuestionario.id}) }}">{{ cuestionario.codigo }}</a>
    </li>
{% endblock %}

{% block modal %}
    {{- include('layout/_dialogo_form.html.twig', {id: 'corregir'}) }}
    {{- include('layout/_dialogo_confirmar.html.twig', {id: 'modalTraslada',
        texto: '¿Trasladar todas las calificaciones provisionales a calificaciones definitivas del tribunal?'
    }) }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $('#datosResultados').dataTable({
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                    },
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                    },
                    orientation: 'landscape',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                    },
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                    },
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
            order: [
                [2, 'asc'],
            ],
        });
        // Formulario para corregir valoración final del empleado
        $('.corrige').on('click', function (e) {
            e.preventDefault();
            let url = $(this).data('url');
            if (url === undefined) {
                return confirm('Se ha producido un error al ejecutar la operación.');
            }
            const modal = document.querySelector('#corregir');
            $.ajax({
                method: 'POST',
                url: url,
                async: true,
                success: function (response) {
                    $('#corregirTitulo').html('Corregir valoración');
                    $('#corregirForm').html(response);
                    modal.showModal();
                },
                error: function (xhr) {
                    $('#corregirTitulo').html('Error ' + xhr.status);
                    $('#corregirForm').html(xhr.responseText);
                    modal.showModal();
                },
            });
        });
        // Confirmar traslado de valoraciones a columna del tribunal
        document.querySelector('#traslada').addEventListener('click', () => {
            document.querySelector('#modalTraslada').showModal();
        });
        document.querySelector('#modalTrasladaAceptar').addEventListener('click', () => {
            window.location.href = document.getElementById('traslada').dataset.url;
        });
    </script>
{% endblock %}
