{% extends path(aplicacion.ruta) ~ '/admin/cuestionario/index.html.twig' %}

{% block content %}
    {%- set config = cuestionario.configuracion %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">{{ cuestionario.titulo }}</div>
    <div class="my-4">
        <table class="tabla-condensada" id="datosResultados">
            <thead class="cabecera-condensada">
            <tr>
                <th data-dt-order="disable"></th>
                <th data-dt-order="disable"></th>
                <th data-dt-order="disable"></th>
                <th colspan="2" data-dt-order="disable">({{ config.peso1 }}%)</th>
                <th colspan="2" data-dt-order="disable">({{ config.peso2 }}%)</th>
                <th colspan="2" data-dt-order="disable">({{ config.peso3 }}%)</th>
                <th colspan="2" data-dt-order="disable">Total ponderado</th>
                <th rowspan="2" data-dt-order="disable">Acciones</th>
            </tr>
            <tr>
                <th>R</th>
                <th>VR</th>
                <th>Empleado</th>
                <th class="text-start">Media</th>
                <th class="text-start">Fecha</th>
                <th class="text-start">Media</th>
                <th class="text-start">Fecha</th>
                <th class="text-start">Media</th>
                <th class="text-start">Fecha</th>
                <th class="text-start">60 puntos</th>
                <th class="text-start">100 puntos</th>
            </tr>
            </thead>
            <tbody>
            {%- for formulario in formularios|filter(f => f.formulario.fechaEnvio) %}
            <tr>
                <td>
                    {%- if formulario.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION' )%}
                        Sí
                    {%- endif %}
                </td>
                <td></td>
                <td>{{ formulario.empleado.persona }}</td>
                {%- if formulario.tipoEvaluador == constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION' )%}
                    <td>0</td>
                    <td>{{ formulario.rechazado ? formulario.rechazado|date('Y-m-d') }}</td>
                    {%- set tipos = [
                        constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'),
                        constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO'),
                    ] %}
                {%- else %}
                    {%- set tipos = [
                        constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION'),
                        constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'),
                        constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO'),
                    ] %}
                {%- endif %}
                {%- for tipo in tipos %}
                    <td>{{ puntos[formulario.empleado.id][tipo]|default|round(2) }}</td>
                    <td>{{ puntos[formulario.empleado.id][tipo]|default ? formulario.formulario.fechaEnvio|date('Y-m-d') }}</td>
                {%- endfor %}
                {%- set media =
                    (puntos[formulario.empleado.id][constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')]|default(0) * config['peso1'] / 100)
                    + (puntos[formulario.empleado.id][constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE')]|default(0) * config['peso2'] / 100)
                    + (puntos[formulario.empleado.id][constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')]|default(0) * config['peso3'] / 100)
                -%}
                <td {% if (media * 6) < 20 %}class="bg-danger text-bg-danger"{% endif %}>{{ (media * 6)|round(2) }}</td>
                <td>{{ (media * 10)|round(2) }}</td>
                <td></td>
            </tr>
            {%- endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block botones %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_index') }}">Cuestionarios</a></li>
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_show', {id: cuestionario.id}) }}">{{ cuestionario.codigo }}</a>
    </li>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        $('#datosResultados').dataTable({
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
        });
    </script>
{% endblock %}