{% extends path(aplicacion.ruta) ~ '/admin/cuestionario/index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">Cuestionario {{ cuestionario.codigo }}</div>
    <div class="container-fluid py-4 g-4">
        <div class="row py-2">
            <div class="fila-campo">Estado</div>
            <div class="fila-valor">
                {%- if cuestionario.estado -%}
                    <em class="me-1 text-{{ cuestionario.estado.color }} fas {{ cuestionario.estado.icono|default }}"></em>
                    {{- cuestionario.estado.nombre -}}
                {%- else -%}
                    <span class="badge-warning text-bg-warning">No definido</span>
                {%- endif -%}
            </div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Título</div>
            <div class="fila-valor">{{ cuestionario.titulo }}</div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Descripción</div>
            <div class="fila-valor">{{ cuestionario.descripcion|raw }}</div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Mensaje de bienvenida</div>
            <div class="fila-valor">{{ cuestionario.bienvenida|raw }}</div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Mensaje de despedida</div>
            <div class="fila-valor">{{ cuestionario.despedida|raw }}</div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Tipo de formulario</div>
            <div class="fila-valor">
                {{- cuestionario.privado ? 'privado (solo usuarios registrados), ' : 'público, ' -}}
                {{- cuestionario.editable ? 'editable' : 'no editable' -}}
            </div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Periodo de validez</div>
            <div class="fila-valor">
                {{- cuestionario.fechaAlta  and cuestionario.fechaBaja
                    ? cuestionario.fechaAlta|date('d/m/Y') ~ ' - ' ~ cuestionario.fechaBaja|date('d/m/Y')
                    : 'no establecido' -}}
            </div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Parámetros de configuración</div>
            <div class="fila-valor">
                {%- for opcion, valor in cuestionario.configuracion -%}
                    <span class="me-4">{{ opcion|capitalize }}: {{ valor }}</span>
                {%- endfor -%}
            </div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Autor</div>
            <div class="fila-valor">{{ cuestionario.autor.persona }}</div>
        </div>
        <div class="row py-2">
            <div class="fila-campo">Preguntas</div>
            <div class="fila-valor">
                {{- cuestionario.grupos|reduce((p, g) => p + g.preguntas|length)|default(0) }} en {{ cuestionario.grupos|length }} grupos
            </div>
        </div>
        {%- if cuestionario.estado.nombre == constant('App\\Entity\\Sistema\\Estado::PUBLICADO') %}
            <div class="row py-2">
                <div class="fila-campo">URL del formulario</div>
                <div class="fila-valor">{{ app.request.schemeAndHttpHost }}/{{ cuestionario.url }}</div>
            </div>
        {%- endif %}
    </div>
{% endblock %}

{% block botones %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{{ path(aplicacion.ruta ~ '_admin_evaluador_index', {'id': cuestionario.id}) }}">
            <em class="mx-1 fas fa-user-check"></em> Evaluadores
        </a>
    </li>
    {%- if cuestionario.estado.nombre == constant('App\\Entity\\Sistema\\Estado::BORRADOR') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary" href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_edit', {'id': cuestionario.id}) }}">
                <em class="mx-1 fas fa-edit"></em> Editar
            </a>
        </li>
        <li class="nav-item me-2">
            <a id="activa" class="btn btn-primary" href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_activar', {'id': cuestionario.id}) }}">
                <em class="fas fa-check"></em> Activar
            </a>
        </li>
    {%- elseif cuestionario.estado.nombre == constant('App\\Entity\\Sistema\\Estado::PUBLICADO') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary" href="{{ path(aplicacion.ruta ~ '_admin_formulario_index', {'cuestionario': cuestionario.id}) }}">
                <em class="fas fa-list-check"></em> Formularios
            </a>
        </li>
    {%- endif %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{{ path(aplicacion.ruta ~ '_admin_grupo_index', {'id': cuestionario.id}) }}">
            <em class="fas fa-object-group"></em> Grupos
        </a>
    </li>
    <li class="nav-item me-2">
        <a id="simula" class="btn btn-primary" href="">
            <em class="fas fa-video"></em> Simular
        </a>
    </li>
{#    {%- if cuestionario.grupos|length == 0 %}#}
{#        <li class="nav-item ms-5 me-2">#}
{#            {{ include(path(aplicacion.ruta) ~ '/admin/cuestionario/_delete_form.html.twig') }}#}
{#        </li>#}
{#    {%- endif %}#}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_index') }}">Cuestionarios</a></li>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="simulaInicio" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
         <div class="modal-dialog modal-xl">
             <div class="modal-content p-4">
                 <div class="h1">{{ cuestionario.titulo }}</div>
                 <div>{{ cuestionario.descripcion|raw }}</div>
                 <div>{{ cuestionario.bienvenida|raw }}</div>
                 <div>
                    <button id="empezar" class="btn btn-primary float-end">Empezar</button>
                 </div>
             </div>
         </div>
    </div>
    <div class="modal fade" id="simulaFin" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content p-4">
                <div class="h1">{{ cuestionario.titulo }}</div>
                <div>{{ cuestionario.despedida|default('<p>Fin del cuestionario.</p>')|raw }}</div>
                <div>
                    <button id="cerrar" class="btn btn-primary float-end">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        import { Modal } from 'bootstrap';
        const inicio = new Modal('#simulaInicio')
        const fin = new Modal('#simulaFin')
        $('#simula').on('click', function (e) {
            e.preventDefault();
            inicio.show();
        });
        $('#empezar').on('click', function () {
            inicio.hide();
            fin.show();
        });
        $('#cerrar').on('click', function () {
            fin.hide();
        });
        $('#activa').on('click', function () {
            return confirm(
                "Activar un cuestionario implica que ya no podrá ser editado y que se empezarán a recibir respuestas.\n" +
                "¿Continuar?"
            );
        })
    </script>
{% endblock %}