{% extends 'desempenyo/admin/cuestionario/show.html.twig' %}
{% set tipoAuto = constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION') %}
{% set tipoNo = constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION') %}
{% set tipoResp = constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') %}
{% set tipoOtro = constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') %}
{% set avisos = {VF: 'Vigencia futura', DU: 'Distinta unidad'} %}
{% if tipo == tipoNo %}
    {% set titulo = titulo ~ ' (rechazos)'%}
{% elseif tipo == tipoAuto %}
    {% set titulo = titulo ~ ' (empleados)'%}
{% elseif tipo == tipoResp %}
    {% set titulo = titulo ~ ' (responsables)'%}
{% elseif tipo == tipoOtro %}
    {% set titulo = titulo ~ ' (terceros agentes)'%}
{% endif %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">Cuestionario {{ cuestionario.codigo }}</div>
    {%- if tipo == tipoAuto %}
        {#- Empleados para autoevaluación #}
        {%- if evaluaciones|length > 0 %}
            <div class="badge-info">
                Último volcado de datos: {{ volcado_empleados ? volcado_empleados|date('d/m/Y, H:i') : 'sin datos' -}}
            </div>
        {% endif %}
        <table class="tabla-condensada" id="datosEmpleados">
            <caption class="caption-top">Autoevaluación</caption>
            <thead class="cabecera-condensada">
                <tr>
                    <th>Unidad</th>
                    <th>Doc. identidad</th>
                    <th>Nombre</th>
                    <th data-dt-order="disable">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for evaluacion in evaluaciones -%}
                <tr>
                    <td>{{ evaluacion.empleado.unidad.nombre }}</td>
                    <td>{{ evaluacion.empleado.docIdentidad }}</td>
                    <td>{{ evaluacion.empleado }}</td>
                    <td>
                        <a class="rechazar" href="" data-persona="{{ evaluacion.empleado }}"
                           data-url="{{ path('desempenyo_admin_evaluador_rechaza', {cuestionario: cuestionario.id, empleado: evaluacion.empleado.id}) }}">
                            <em class="mx-1 fas fa-remove" title="Rechazar evaluación"></em>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif tipo in [tipoResp, tipoOtro] %}
        {#- Relación de evaluadores y empleados #}
        <table class="tabla-condensada" id="datosEvaluadores">
            <thead class="cabecera-condensada">
            <tr>
                <th colspan="8" data-dt-order="disable">Empleado</th>
                <th colspan="8" data-dt-order="disable">
                    {{- tipo == tipoResp ? 'Evaluador responsable' : 'Tercer agente' -}}
                </th>
                <th rowspan="2">Cargado</th>
                <th rowspan="2" data-dt-order="disable">Acciones</th>
            </tr>
            <tr>
                <th>Unidad</th>
                <th>Nombre</th>
                <th><abbr title="Grupo y nivel">Gr./Niv.</abbr></th>
                <th><abbr title="Antigüedad total">Antig.</abbr></th>
                <th>Vigente</th>
                <th><abbr title="Ausencia">Aus.</abbr></th>
                <th><abbr title="Situación Administrativa">S.A.</abbr></th>
                <th>Avisos</th>
                <th>Unidad</th>
                <th>Nombre</th>
                <th><abbr title="Grupo y nivel">Gr./Niv.</abbr></th>
                <th><abbr title="Antigüedad total">Antig.</abbr></th>
                <th>Vigente</th>
                <th><abbr title="Ausencia">Aus.</abbr></th>
                <th><abbr title="Situación Administrativa">S.A.</abbr></th>
                <th>Avisos</th>
            </tr>
            </thead>
            <tbody>
            {% for evaluacion in evaluaciones -%}
                {%- set empleado = evaluacion[tipoAuto] is defined ? evaluacion[tipoAuto].empleado : evaluacion[tipoNo].empleado %}
                {%- set evaluador = evaluacion[tipo].evaluador|default(null) %}
                <tr {% if empleado.unidad|default != evaluador.unidad|default %}class="table-info" {% endif %}>
                    <td><span title="{{ empleado.unidad.nombre|default }}">{{ empleado.unidad }}</span></td>
                    <td>{{ empleado }}</td>
                    <td>{{ empleado.grupo.nombre ~ (empleado.nivel > 0 ? '/' ~ empleado.nivel) }}</td>
                    <td>{{ empleado.antiguedad|default }}</td>
                    <td>{{ empleado.vigente|date('Y-m-d') }}</td>
                    <td>
                        {%- if empleado.ausencia -%}
                            <span title="{{ empleado.ausencia.nombre }}">{{ empleado.ausencia.codigo }}</span>
                        {%- endif -%}
                    </td>
                    <td>
                        {%- if empleado.situacion -%}
                            <span title="{{ empleado.situacion.nombre }}">{{ empleado.situacion.codigo }}</span>
                        {%- endif -%}
                    </td>
                    <td>
                        {%- if date(empleado.vigente) > date() -%}
                            <sup class="badge-warning mx-1" title="{{ avisos['VF'] }}">VF</sup>
                        {%- endif %}
                        {% if empleado.unidad|default != evaluador.unidad|default %}
                            <sup class="badge-warning mx-1" title="{{ avisos['DU'] }}">DU</sup>
                        {%- endif %}
                    </td>
                    {%- if evaluador %}
                        <td><span title="{{ evaluador.unidad.nombre|default }}">{{ evaluador.unidad }}</span></td>
                        <td>{{ evaluador }}</td>
                        <td>{{ evaluador.grupo.nombre ~ (evaluador.nivel > 0 ? '/' ~ evaluador.nivel) }}</td>
                        <td>{{ evaluador.antiguedad|default }}</td>
                        <td>{{ evaluador.vigente|date('Y-m-d') }}</td>
                        <td>
                            {%- if evaluador.ausencia -%}
                                <span title="{{ evaluador.ausencia.nombre }}">{{ evaluador.ausencia.codigo }}</span>
                            {%- endif -%}
                        </td>
                        <td>
                            {%- if evaluador.situacion -%}
                                <span title="{{ evaluador.situacion.nombre }}">{{ evaluador.situacion.codigo }}</span>
                            {%- endif -%}
                        </td>
                        <td>
                            {% if date(evaluador.vigente) > date() -%}
                                <sup class="badge-warning mx-1" title="{{ avisos['VF'] }}">VF</sup>
                            {%- endif %}
                        </td>
                        <td>{{ evaluacion.origen.nombre|default|capitalize }}</td>
                    {%- else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {%- endif %}
                    <td>
                        {%- if evaluacion.formulario.fechaGrabacion is not defined %}
                            <a class="asignar"
                               data-url="{{ path('desempenyo_admin_evaluador_asigna', {
                                   cuestionario: cuestionario.id,
                                   empleado: empleado.id,
                                   tipo: tipo
                               }) }}">
                                <em class="mx-1 fas fa-people-arrows" title="Asignar evaluador"></em>
                            </a>
                            {%- if evaluador %}
                                <form method="post" class="d-inline"
                                      action="{{ path('desempenyo_admin_evaluador_delete', {cuestionario: cuestionario.id, evalua: evaluacion[tipo].id}) }}"
                                      onsubmit="return confirm('¿Eliminar la asignación de evaluación de {{ evaluador }} sobre {{ empleado }}?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cuestionario.id ~ '-' ~ evaluacion[tipo].id) }}">
                                    <button class="border-0 text-primary">
                                        <em class="mx-1 fas fa-trash" title="Desasignar"></em>
                                    </button>
                                </form>
                            {%- endif %}
                        {%- endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <caption>
                <span class="me-4">Avisos:</span>
                {%- for indice, aviso in avisos -%}
                    <span class="me-4"><sup class="badge-warning">{{ indice }}</sup> {{ aviso }}</span>
                {%- endfor -%}
            </caption>
        </table>
    {% elseif tipo == tipoNo %}
        {# Empleados que rechazan la evaluación #}
        <table class="tabla-condensada" id="datosRechazan">
            <caption class="caption-top">Solicitudes de no evaluación</caption>
            <thead class="cabecera-condensada">
            <tr>
                <th>Unidad</th>
                <th>Doc. identidad</th>
                <th>Nombre</th>
                <th>Fecha solicitud</th>
                <th>Fecha registro</th>
                <th data-dt-order="disable">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for evaluacion in evaluaciones -%}
                <tr>
                    <td>{{ evaluacion.empleado.unidad.nombre }}</td>
                    <td>{{ evaluacion.empleado.docIdentidad }}</td>
                    <td>{{ evaluacion.empleado }}</td>
                    <td>{{ evaluacion.rechazado ? evaluacion.rechazado|date('Y-m-d') }}</td>
                    <td>{{ evaluacion.registrado ? evaluacion.registrado|date('Y-m-d') }}</td>
                    <td>
                        <a class="registrar" href=""
                           data-url="{{ path('desempenyo_admin_evaluador_registra', {cuestionario: cuestionario.id, empleado: evaluacion.empleado.id}) }}">
                            <em class="fas fa-save" title="Registrar"></em>
                        </a>
                        <a class="recuperar" href="" data-persona="{{ evaluacion.empleado }}"
                           data-url="{{ path('desempenyo_admin_evaluador_recupera', {cuestionario: cuestionario.id, empleado: evaluacion.empleado.id}) }}">
                            <em class="mx-1 fas fa-check" title="Recuperar evaluación"></em>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {#- Listar todas las evaluaciones definidas #}
        <table class="tabla-condensada" id="datosTodos">
            <thead class="cabecera-condensada">
            <tr>
                <th colspan="3" data-dt-order="disable">Empleado</th>
                <th colspan="2" data-dt-order="disable">Evaluador principal</th>
                <th colspan="2" data-dt-order="disable">Tercer agente</th>
            </tr>
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Rechazo</th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for evalua in evaluaciones -%}
            <tr>
                <td>{{ (evalua|first).empleado.docIdentidad }}</td>
                <td>{{ (evalua|first).empleado }}</td>
                <td>
                    {% if evalua[tipoNo] is defined %}
                        <sup class="badge-warning">{{ evalua[tipoNo].registrado ? 'VR' : 'R' }}</sup>
                    {% endif %}
                </td>
                <td>{{ evalua[tipoResp].evaluador.docIdentidad|default }}</td>
                <td>{{ evalua[tipoResp].evaluador|default }}</td>
                <td>{{ evalua[tipoOtro].evaluador.docIdentidad|default }}</td>
                <td>{{ evalua[tipoOtro].evaluador|default }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <caption>
                <span class="me-4">Avisos:</span>
                <span class="me-4"><sup class="badge-warning">R</sup> Rechazado</span>
                <span class="me-4"><sup class="badge-warning">VR</sup> Validado</span>
            </caption>
        </table>
    {%- endif  %}
{% endblock %}

{% block botones %}
    {% if tipo in [tipoNo, tipoAuto, tipoResp, tipoOtro] -%}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path('desempenyo_admin_evaluador_index', {id: cuestionario.id}) }}">
                <em class="fas fa-table"></em> Ver todos
            </a>
        </li>
    {%- endif %}
    {% if tipo != tipoAuto -%}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path('desempenyo_admin_evaluador_index', {id: cuestionario.id, tipo: tipoAuto}) }}">
                <em class="fas fa-users"></em> Ver empleados
            </a>
        </li>
    {%- endif %}
    {% if tipo != tipoResp -%}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path('desempenyo_admin_evaluador_index', {id: cuestionario.id, tipo: tipoResp}) }}">
                <em class="fas fa-user-check"></em> Ver responsables
            </a>
        </li>
    {%- endif %}
    {% if cuestionario.configuracion.peso3|default(0) > 0 and tipo != tipoOtro -%}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path('desempenyo_admin_evaluador_index', {id: cuestionario.id, tipo: tipoOtro}) }}">
                <em class="fas fa-user-pen"></em> Ver otros
            </a>
        </li>
    {%- endif %}
    {% if tipo != tipoNo -%}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path('desempenyo_admin_evaluador_index', {id: cuestionario.id, tipo: tipoNo}) }}">
                <em class="fas fa-user-times"></em> Ver rechazados
            </a>
        </li>
    {%- endif %}
    {% if tipo == tipoAuto -%}
        <li class="nav-item ms-5 me-2">
            <button class="btn btn-primary cargar" id="cargarEmpleados"
                    data-url="{{ path('desempenyo_admin_evaluador_auto', {id: cuestionario.id}) }}">
                <em class="fas fa-person-arrow-down-to-line"></em> Cargar empleados
            </button>
        </li>
    {% elseif tipo == tipoResp -%}
        <li class="nav-item ms-5 me-2">
            <a class="btn btn-primary"
               href="{{ path('desempenyo_admin_evaluador_carga', {id: cuestionario.id, tipo: 'evaluador'}) }}">
                <em class="fas fa-file-upload"></em> Cargar desde CSV
            </a>
        </li>
    {%- endif %}
    {% if tipo == tipoOtro -%}
        <li class="nav-item ms-5 me-2">
            <a class="btn btn-primary"
               href="{{ path('desempenyo_admin_evaluador_carga', {id: cuestionario.id, tipo: 'otro'}) }}">
                <em class="fas fa-file-upload"></em> Cargar desde CSV
            </a>
    </li>
    {%- endif %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('desempenyo_admin_cuestionario_show', {id: cuestionario.id}) }}">{{ cuestionario.codigo }}</a>
    </li>
{% endblock %}

{%  block modal %}
    {{- include('layout/_dialogo_confirmar.html.twig') }}
    {{- include('layout/_dialogo_confirmar.html.twig', {
        id: 'confirmarEmpleados',
        pregunta: '¿Cargar datos de empleados para su autoevaluación?'
    }) }}
    {{- include('layout/_dialogo_cargar.html.twig', {id: 'cargandoEmpleados', mensaje: 'Cargando empleados', progreso: false}) }}
    {{- include('layout/_dialogo_cargar.html.twig', {id: 'cargandoValida', mensaje: 'Cargando validaciones', progreso: false}) }}
    {{- include('layout/_dialogo_form.html.twig', {id: 'modal', titulo: 'Registrar solicitud de rechazo'}) }}
    {{- include('layout/_dialogo_form.html.twig', {id: 'asignar', titulo: 'Asignar evaluador'}) }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        const config = {
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
        };
        $('#datosEmpleados').dataTable({
            ...config,
            order: [
                [0, 'asc'],
                [1, 'asc'],
            ],
        });
        $('#datosEvaluadores').dataTable({
            ...config,
            order: [
                [1, 'asc'],
            ],
        });
        $('#datosRechazan').dataTable({
            ...config,
            order: [
                [3, 'desc'],
            ],
        });
        $('#datosTodos').dataTable(config);

        // Verificar rechazo y recuperación de autoevaluación
        const dialogo = $('#modalConfirma');
        $('.rechazar').on('click', function (e) {
            e.preventDefault();
            document.querySelector('#modalConfirmaTexto').innerHTML = 'Rechazar evaluaciones para ' + $(this).data('persona') + '.';
            document.querySelector('#modalConfirma').showModal();
            dialogo.data('url', $(this).data('url'));
        });
        $('.recuperar').on('click', function (e) {
            e.preventDefault();
            document.querySelector('#modalConfirmaTexto').innerHTML = 'Volver a aceptar evaluaciones para ' + $(this).data('persona') + '.';
            document.querySelector('#modalConfirma').showModal();
            dialogo.data('url', $(this).data('url'));
        });
        $('#modalConfirmaAceptar').on('click', function () {
            window.location.href = dialogo.data('url');
        });

        // Carga de empleados
        const dialogoEmpleados = $('#dialogoEmpleados');
        $('#cargarEmpleados').on('click', function (e) {
            e.preventDefault();
            document.querySelector('#confirmarEmpleados').showModal();
        });
        $('#confirmarEmpleadosAceptar').on('click', function () {
            $('#cargandoEmpleados').fadeIn('fast');
            window.location.href = $('#cargarEmpleados').data('url');
        });
        // Volcado de validaciones
        $('#cargarValida').on('click', function (e) {
            e.preventDefault();
            document.querySelector('#confirmarValida').showModal();
        });
        $('#confirmarValidaAceptar').on('click', function () {
            $('#cargandoValida').fadeIn('fast');
            window.location.href = $('#cargarValida').data('url');
        });
        $(window).on('unload', function () {
            $('#cargandoEmpleados').hide();
            $('#cargandoValida').hide();
        });

        // Formulario para registrar solicitud de rechado de evaluación
        $('.registrar').on('click', function (e) {
            e.preventDefault();
            let url = $(this).data('url');
            if (url === undefined) {
                return confirm('Se ha producido un error al ejecutar la operación.');
            }
            const modal = document.querySelector('#modal');
            $.ajax({
                method: 'POST',
                url: url,
                async: true,
                success: function (response) {
                    $('#modalForm').html(response);
                    modal.showModal();
                },
                error: function (xhr) {
                    $('#modalTitulo').html('Error ' + xhr.status);
                    $('#modalForm').html(response);
                    modal.showModal();
                },
            });
        });
        // Formulario para asignar evaluador a empleado
        $('.asignar').on('click', function (e) {
            e.preventDefault();
            let url = $(this).data('url');
            if (url === undefined) {
                return confirm('Se ha producido un error al ejecutar la operación.');
            }
            const modal = document.querySelector('#asignar');
            $.ajax({
                method: 'POST',
                url: url,
                async: true,
                success: function (response) {
                    $('#asignarForm').html(response);
                    let marca = 'table-info';
                    const cuadroEvaluador = $('#evaluador_evaluador');
                    const tabla = $('#evaluadores').dataTable({
                        info: false,
                        language: {
                            url: '{{ asset("includes/datatable_noinfo.es.json") }}',
                        },
                        select: 'single',
                    });
                    $('#evaluadores tr').each(function () {
                        if (cuadroEvaluador.val() === $(this).find('td').eq(0).text()) {
                            $(this).addClass(marca);
                        }
                    });
                    $('#evaluadores tbody').on('click', 'tr', function () {
                        cuadroEvaluador.val(tabla.api().row(this).id()).trigger('change');
                        $('#evaluadores tr').each(function () {
                            $(this).removeClass(marca);
                        });
                        $(this).addClass(marca);
                    });
                    modal.showModal();
                },
                error: function (xhr) {
                    $('#asignarTitulo').html('Error ' + xhr.status);
                    $('#asignarForm').html(response);
                    modal.showModal();
                },
            });
        });
    </script>
{% endblock %}
