{% extends path(aplicacion.ruta) ~ '/admin/cuestionario/index.html.twig' %}
{% set avisos = {1: 'Ausente', 2: 'Vigencia futura'} %}

{% block content %}
    {%- set tipoAuto = constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION') %}
    {%- set tipoNo = constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION') %}
    <div class="pagina-titulo">
        {{ titulo }}
        {%- if tipo == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') %} (responsables)
        {%- elseif tipo == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') %} (terceros agentes)
        {%- endif -%}
    </div>

    <div class="pagina-seccion">Cuestionario {{ cuestionario.codigo }}</div>
    {%- if tipo == tipoAuto %}
        {#- Empleados para autoevaluación #}
        {%- if evaluaciones|length > 0 %}
            <div class="badge-info">
                Último volcado de datos: {{ volcado_empleados ? volcado_empleados|date('d/m/Y, H:i') : 'sin datos' -}}
            </div>
        {%- endif %}
        <table class="tabla-condensada" id="datosEmpleados">
            <caption class="caption-top">Autoevaluación</caption>
            <thead class="cabecera-condensada">
                <tr>
                    <th>Unidad</th>
                    <th>Doc. identidad</th>
                    <th>Nombre empleado</th>
                    <th data-dt-order="disable">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {%- for evaluacion in evaluaciones %}
                <tr>
                    <td>
                        {{- evaluacion.empleado.plazaOcupada ? evaluacion.empleado.plazaOcupada.unidad.nombre
                            : (evaluacion.empleado.plazaTitular ? evaluacion.empleado.plazaTitular.unidad.nombre) -}}
                    </td>
                    <td>{{ evaluacion.empleado.persona.docIdentidad }}</td>
                    <td>{{ evaluacion.empleado.persona }}</td>
                    <td>
                        <a class="rechazar" href="" data-persona="{{ evaluacion.empleado.persona }}"
                           data-url="{{ path(aplicacion.ruta ~ '_admin_evaluador_rechaza', {cuestionario: cuestionario.id, empleado: evaluacion.empleado.id}) }}">
                            <em class="mx-1 fas fa-remove" title="Rechazar evaluación"></em>
                        </a>
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    {%- elseif tipo in [constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'), constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')] %}
        {#- Relación de evaluadores y empleados #}
        <table class="tabla-condensada" id="datosEvaluadores">
            <thead class="cabecera-condensada">
            <tr>
                <th colspan="6" data-dt-order="disable">Empleado</th>
                <th colspan="6" data-dt-order="disable">
                    {%- if tipo == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') -%}
                        Evaluador responsable
                    {%- else -%}
                        Otro evaluador
                    {%- endif -%}
                </th>
                <th rowspan="2">Cargado</th>
                <th rowspan="2" data-dt-order="disable">Acciones</th>
            </tr>
            <tr>
                <th>Unidad</th>
                <th>Nombre</th>
                <th><span title="Grupo y nivel">Gr./Niv.</span></th>
                <th><span title="Antigüedad total">Antig.</span></th>
                <th>Vigente</th>
                <th>Avisos</th>
                <th>Unidad</th>
                <th>Nombre</th>
                <th><span title="Grupo y nivel">Gr./Niv.</span></th>
                <th><span title="Antigüedad total">Antig.</span></th>
                <th>Vigente</th>
                <th>Avisos</th>
            </tr>
            </thead>
            <tbody>
            {%- for evaluacion in evaluaciones %}
                {%- set empleado = evaluacion[tipoAuto] is defined ? evaluacion[tipoAuto].empleado : evaluacion[tipoNo].empleado %}
                {%- set evaluador = evaluacion[tipo].evaluador|default(null) %}
                {%- set plazaEmpleado = empleado.plazaOcupada ?: empleado.plazaTitular %}
                {%- set plazaEvaluador = evaluador.plazaOcupada|default ?: evaluador.plazaTitular|default %}
                <tr {% if plazaEmpleado.unidad|default != plazaEvaluador.unidad|default %}class="table-info" {% endif %}>
                    <td>
                        <span title="{{ plazaEmpleado.unidad.nombre|default }}">{{ plazaEmpleado.unidad.codigo|default }}</span>
                    </td>
                    <td>{{ empleado.persona }}</td>
                    <td>{{ empleado.grupo.nombre ~ (empleado.nivel > 0 ? '/' ~ empleado.nivel) }}</td>
                    <td>{{ empleado.antiguedad|default }}</td>
                    <td>{{ empleado.vigente|date('Y-m-d') }}</td>
                    <td>
                        {%- if empleado.ausencia -%}
                            <sup class="badge-warning mx-1" title="{{ avisos[1] }}">1</sup>
                        {%- endif %}
                        {%- if date(empleado.vigente) > date() -%}
                            <sup class="badge-warning mx-1" title="{{ avisos[2] }}">2</sup>
                        {%- endif -%}
                    </td>
                    {%- if evaluador %}
                        <td><span title="{{ plazaEvaluador.unidad.nombre|default }}">{{ plazaEvaluador.unidad.codigo|default }}</span></td>
                        <td>{{ evaluador.persona }}</td>
                        <td>{{ evaluador.grupo.nombre ~ (evaluador.nivel > 0 ? '/' ~ evaluador.nivel) }}</td>
                        <td>{{ evaluador.antiguedad|default }}</td>
                        <td>{{ evaluador.vigente|date('Y-m-d') }}</td>
                        <td>
                            {%- if evaluador.ausencia -%}
                                <sup class="badge-warning mx-1" title="{{ avisos[1] }}">1</sup>
                            {%- endif %}
                            {%- if date(evaluador.vigente) > date() -%}
                                <sup class="badge-warning mx-1" title="{{ avisos[2] }}">2</sup>
                            {%- endif -%}
                        </td>
                        <td>{{ evaluacion.origen.nombre|default|capitalize }}</td>
                    {%- else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {%- endif %}
                    <td>
                        {%- if evaluacion.formulario.fechaGrabacion is not defined %}
                            <em class="mx-1 fas fa-people-arrows" title="Reasignar"></em>
                            {%- if evaluador %}
                                <form method="post" class="d-inline"
                                      action="{{ path(aplicacion.ruta ~ '_admin_evaluador_delete', {cuestionario: cuestionario.id, evalua: evaluacion[tipo].id}) }}"
                                      onsubmit="return confirm('¿Eliminar la asignación de evaluación de {{ evaluador.persona }} sobre {{ empleado.persona }}?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cuestionario.id ~ '-' ~ evaluacion[tipo].id) }}">
                                    <button class="border-0 text-primary">
                                        <em class="mx-1 fas fa-trash" title="Desasignar"></em>
                                    </button>
                                </form>
                            {%- endif %}
                        {%- endif %}
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
            <caption>
                <span class="me-4">Avisos:</span>
                {%- for indice, aviso in avisos -%}
                    <span class="me-4"><sup class="badge-warning">{{ indice }}</sup> {{ aviso }}</span>
                {%- endfor -%}
                <span class="me-4 px-2 bg-info rounded">Distinta unidad</span>
            </caption>
        </table>
    {%- elseif tipo == constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION') %}
        {# Empleados que rechazan la evaluación #}
        <table class="tabla-condensada" id="datosRechazan">
            <caption class="caption-top">Solicitudes de no evaluación</caption>
            <thead class="cabecera-condensada">
            <tr>
                <th>Unidad</th>
                <th>Doc. empleado</th>
                <th>Nombre empleado</th>
                <th>Fecha solicitud</th>
                <th>Fecha registro</th>
                <th data-dt-order="disable">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {%- for evaluacion in evaluaciones %}
                <tr>
                    <td>
                        {{- evaluacion.empleado.plazaOcupada ? evaluacion.empleado.plazaOcupada.unidad.nombre
                        : (evaluacion.empleado.plazaTitular ? evaluacion.empleado.plazaTitular.unidad.nombre) -}}
                    </td>
                    <td>{{ evaluacion.empleado.persona.docIdentidad }}</td>
                    <td>{{ evaluacion.empleado.persona }}</td>
                    <td>{{ evaluacion.rechazado ? evaluacion.rechazado|date('Y-m-d') }}</td>
                    <td>{{ evaluacion.registrado ? evaluacion.registrado|date('Y-m-d') }}</td>
                    <td>
                        <a class="registrar" href=""
                           data-url="{{ path(aplicacion.ruta ~ '_admin_evaluador_registra', {cuestionario: cuestionario.id, empleado: evaluacion.empleado.id}) }}">
                            <em class="fas fa-save" title="Registrar"></em>
                        </a>
                        <a class="recuperar" href="" data-persona="{{ evaluacion.empleado.persona }}"
                           data-url="{{ path(aplicacion.ruta ~ '_admin_evaluador_recupera', {cuestionario: cuestionario.id, empleado: evaluacion.empleado.id}) }}">
                            <em class="mx-1 fas fa-check" title="Recuperar evaluación"></em>
                        </a>
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
        {#- Falta lista de empleados sin evaluador #}
    {%- endif  %}
{% endblock %}

{% block botones %}
    {%- if tipo != constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_index', {id: cuestionario.id, tipo: constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')}) }}">
                <em class="fas fa-users"></em> Ver empleados
            </a>
        </li>
    {%- endif %}
    {%- if tipo != constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_index', {id: cuestionario.id, tipo: constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE')}) }}">
                <em class="fas fa-user-check"></em> Ver responsables
            </a>
        </li>
    {%- endif %}
    {%- if cuestionario.configuracion.peso3|default(0) > 0 and tipo != constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_index', {id: cuestionario.id, tipo: constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')}) }}">
                <em class="fas fa-user-pen"></em> Ver otros
            </a>
        </li>
    {%- endif %}
    {%- if tipo != constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_index', {id: cuestionario.id, tipo: constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION')}) }}">
                <em class="fas fa-user-times"></em> Ver rechazados
            </a>
        </li>
    {%- endif %}
    {%- if tipo == constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION') %}
        <li class="nav-item ms-5 me-2">
            <button class="btn btn-primary cargar" id="cargarEmpleados"
                    data-url="{{ path(aplicacion.ruta ~ '_admin_evaluador_auto', {id: cuestionario.id}) }}">
                <em class="fas fa-person-arrow-down-to-line"></em> Cargar empleados
            </button>
        </li>
    {%- elseif tipo == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') %}
        <li class="nav-item ms-5 me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_carga', {id: cuestionario.id, tipo: 'evaluador'}) }}">
                <em class="fas fa-file-upload"></em> Cargar desde CSV
            </a>
        </li>
        <li class="nav-item me-2">
            <button class="btn btn-primary cargar" id="cargarValida"
                    data-url="{{ path(aplicacion.ruta ~ '_admin_evaluador_volcado', {id: cuestionario.id}) }}">
                <em class="fas fa-cloud-upload"></em> Cargar desde Temponet
            </button>
        </li>
    {%- endif %}
    {%- if tipo == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') %}
        <li class="nav-item ms-5 me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_carga', {id: cuestionario.id, tipo: 'otro'}) }}">
                <em class="fas fa-file-upload"></em> Cargar desde CSV
            </a>
    </li>
    {%- endif %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_index') }}">Cuestionarios</a></li>
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_show', {id: cuestionario.id}) }}">{{ cuestionario.codigo }}</a>
    </li>
{% endblock %}

{%  block modal %}
    {{- include('layout/_dialogo_confirmar.html.twig') }}
    {{- include('layout/_dialogo_confirmar.html.twig', {
        id: 'dialogoEmpleados',
        pregunta: '¿Cargar datos de empleados para su autoevaluación?'
    }) }}
    {{- include('layout/_dialogo_cargar.html.twig', {id: 'cargandoEmpleados', mensaje: 'Cargando empleados', progreso: false}) }}
    {{- include('layout/_dialogo_confirmar.html.twig', {
        id: 'dialogoValida',
        texto: 'La carga online de validaciones desde Temponet puede tardar bastante tiempo.',
        pregunta: '¿Continuar con la carga de validaciones?'
    }) }}
    {{- include('layout/_dialogo_cargar.html.twig', {id: 'cargandoValida', mensaje: 'Cargando validaciones', progreso: false}) }}
    {{- include('layout/_dialogo_form.html.twig', {id: 'modal', titulo: 'Registrar solicitud de rechazo'}) }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        const config = {
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
        };
        $('#datosEmpleados').dataTable({
            ...config,
            order: [
                [0, 'asc'],
                [1, 'asc'],
            ],
        });
        $('#datosEvaluadores').dataTable({
            ...config,
            order: [
                [1, 'asc'],
            ],
        });
        $('#datosRechazan').dataTable({
            ...config,
            order: [
                [3, 'desc'],
            ],
        });

        // Verificar rechazo y recuperación de autoevaluación
        const dialogo = $('#dialogo');
        $('.rechazar').on('click', function (e) {
            e.preventDefault();
            $('#pregunta').html('¿Rechazar evaluaciones para ' + $(this).data('persona') + '?');
            dialogo.fadeIn('fast').data('url', $(this).data('url'));
            $('.cargar').each(function () {
                $(this).addClass('disabled');
            });
        });
        $('.recuperar').on('click', function (e) {
            e.preventDefault();
            $('#pregunta').html('¿Volver a aceptar evaluaciones para ' + $(this).data('persona') + '?');
            dialogo.fadeIn('fast').data('url', $(this).data('url'));
            $('.cargar').each(function () {
                $(this).addClass('disabled');
            });
        });
        $('#cancelar').on('click', function () {
            dialogo.fadeOut('fast').data('url', '');
            $('.cargar').each(function () {
                $(this).removeClass('disabled');
            });
        });
        $('#aceptar').on('click', function () {
            window.location.href = dialogo.data('url');
        });

        // Carga de empleados
        const dialogoEmpleados = $('#dialogoEmpleados');
        $('#cargarEmpleados').on('click', function (e) {
            e.preventDefault();
            dialogoEmpleados.fadeIn('fast');
            $('.cargar').each(function () {
                $(this).addClass('disabled');
            });
        });
        $('#dialogoEmpleadosCancelar').on('click', function () {
            dialogoEmpleados.fadeOut('fast');
            $('.cargar').each(function () {
                $(this).removeClass('disabled');
            });
        });
        $('#dialogoEmpleadosAceptar').on('click', function () {
            dialogoEmpleados.fadeOut('fast');
            $('#cargandoEmpleados').fadeIn('fast');
            window.location.href = $('#cargarEmpleados').data('url');
        });
        // Volcado de validaciones
        const dialogoValida = $('#dialogoValida');
        $('#cargarValida').on('click', function (e) {
            e.preventDefault();
            dialogoValida.fadeIn('fast');
        });
        $('#dialogoValidaCancelar').on('click', function () {
            dialogoValida.fadeOut('fast');
        });
        $('#dialogoValidaAceptar').on('click', function () {
            dialogoValida.fadeOut('fast');
            $('#cargandoValida').fadeIn('fast');
            window.location.href = $('#cargarValida').data('url');
        });
        $(window).on('unload', function () {
            $('#cargandoEmpleados').hide();
            $('#cargandoValida').hide();
        });

        // Formulario para registrar solicitud de rechado de evaluación
        $('.registrar').on('click', function (e) {
            e.preventDefault();
            let url = $(this).data('url');
            if (url === undefined) {
                return confirm('Se ha producido un error al ejecutar la operación.');
            }
            const modal = document.querySelector('#modal');
            $.ajax({
                method: 'POST',
                url: url,
                async: true,
                success: function (response) {
                    $('#modalForm').html(response);
                    modal.showModal();
                },
                error: function (xhr) {
                    $('#modalTitulo').html('Error ' + xhr.status);
                    $('#modalForm').html(response);
                    modal.showModal();
                },
            });
        });
    </script>
{% endblock %}
