{% extends path(aplicacion.ruta) ~ '/admin/cuestionario/index.html.twig' %}
{% set avisos = {1: 'Ausente', 2: 'Vigencia futura'} %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    <div class="pagina-seccion">Cuestionario {{ cuestionario.codigo }}</div>
    {%- if tipo == constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION') %}
        {#- Empleados para autoevaluación #}
        {%- if evaluaciones|length > 0 %}
            <div class="badge-info">
                Último volcado de datos: {{ volcado_empleados ? volcado_empleados|date('d/m/Y, H:i') : 'sin datos' -}}
            </div>
        {%- endif %}
        <table class="tabla-condensada" id="datosEmpleados">
            <caption class="caption-top">Autoevaluación</caption>
            <thead class="cabecera-condensada">
                <tr>
                    <th>Unidad</th>
                    <th>Doc. empleado</th>
                    <th>Nombre empleado</th>
                    <th data-dt-order="disable">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {%- for evaluacion in evaluaciones %}
                <tr>
                    <td>
                        {{- evaluacion.empleado.plazaOcupada ? evaluacion.empleado.plazaOcupada.unidad.nombre
                            : (evaluacion.empleado.plazaTitular ? evaluacion.empleado.plazaTitular.unidad.nombre) -}}
                    </td>
                    <td>{{ evaluacion.empleado.persona.docIdentidad }}</td>
                    <td>{{ evaluacion.empleado.persona }}</td>
                    <td>
                        <a class="rechazar" href="" data-persona="{{ evaluacion.empleado.persona }}"
                           data-url="{{ path(aplicacion.ruta ~ '_admin_evaluador_rechaza', {cuestionario: cuestionario.id, empleado: evaluacion.empleado.id}) }}">
                            <span class="mx-1 fas fa-remove" title="Rechazar evaluación"></span>
                        </a>
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    {%- elseif tipo in [constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE'), constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')] %}
        {#- Relación de evaluadores y empleados #}
        <table class="tabla-condensada" id="datosEvaluadores">
            <thead class="cabecera-condensada">
            <tr>
                <th colspan="6" data-dt-order="disable">Empleado</th>
                <th colspan="6" data-dt-order="disable">
                    {%- if tipo == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') -%}
                        Evaluador responsable
                    {%- else -%}
                        Otro evaluador
                    {%- endif -%}
                </th>
                <th rowspan="2">Origen</th>
                <th rowspan="2" data-dt-order="disable">Acciones</th>
            </tr>
            <tr>
                <th>Unidad</th>
                <th>Nombre</th>
                <th><span title="Grupo y nivel">Gr./Niv.</span></th>
                <th><span title="Antigüedad total">Antig.</span></th>
                <th>Vigente</th>
                <th>Avisos</th>
                <th>Unidad</th>
                <th>Nombre</th>
                <th><span title="Grupo y nivel">Gr./Niv.</span></th>
                <th><span title="Antigüedad total">Antig.</span></th>
                <th>Vigente</th>
                <th>Avisos</th>
            </tr>
            </thead>
            <tbody>
            {%- for evaluacion in evaluaciones %}
                {%- set plazaEmpleado = evaluacion.empleado.plazaOcupada ?: evaluacion.empleado.plazaTitular %}
                {%- set plazaEvaluador = evaluacion.evaluador.plazaOcupada ?: evaluacion.evaluador.plazaTitular %}
                <tr {% if plazaEmpleado.unidad|default != plazaEvaluador.unidad|default %}class="table-info" {% endif %}>
                    <td>
                        <span title="{{ plazaEmpleado.unidad.nombre|default }}">{{ plazaEmpleado.subunidad.codigo|default }}</span>
                    </td>
                    <td>{{ evaluacion.empleado.persona }}</td>
                    <td>{{ evaluacion.empleado.grupo.nombre ~ (evaluacion.empleado.nivel > 0 ? '/' ~ evaluacion.empleado.nivel) }}</td>
                    <td>
                        {{- plazaEmpleado.ocupantes[0].antiguedad|default -}}
                    </td>
                    <td>
                        {{- plazaEmpleado.ocupantes[0].enOcupada|default ?: evaluacion.empleado.vigente|date('Y-m-d') -}}
                    </td>
                    <td>
                        {%- if evaluacion.empleado.ausencia -%}
                            <sup class="badge bg-warning mx-1" title="{{ avisos[1] }}">1</sup>
                        {%- endif %}
                        {%- if date(evaluacion.empleado.vigente) > date() -%}
                            <sup class="badge bg-warning mx-1" title="{{ avisos[2] }}">2</sup>
                        {%- endif -%}
                    </td>
                    <td><span title="{{ plazaEvaluador.unidad.nombre|default }}">{{ plazaEvaluador.subunidad.codigo|default }}</span></td>
                    <td>{{ evaluacion.evaluador.persona }}</td>
                    <td>{{ evaluacion.evaluador.grupo.nombre ~ (evaluacion.evaluador.nivel > 0 ? '/' ~ evaluacion.evaluador.nivel) }}</td>
                    <td>
                        {{- plazaEvaluador.ocupantes[0].antiguedad|default -}}
                    </td>
                    <td>
                        {{- plazaEvaluador.ocupantes[0].enOcupada|default ?: evaluacion.evaluador.vigente|date('Y-m-d') -}}
                    </td>
                    <td>
                        {%- if evaluacion.evaluador.ausencia -%}
                            <sup class="badge bg-warning mx-1" title="{{ avisos[1] }}">1</sup>
                        {%- endif %}
                        {%- if date(evaluacion.evaluador.vigente) > date() -%}
                            <sup class="badge bg-warning mx-1" title="{{ avisos[2] }}">2</sup>
                        {%- endif -%}
                    </td>
                    <td>{{ evaluacion.origen.nombre|default|capitalize }}</td>
                    <td>
                        <span class="mx-1 fas fa-people-arrows" title="Reasignar"></span>
                        <form method="post" class="d-inline"
                              action="{{ path(aplicacion.ruta ~ '_admin_evaluador_delete', {cuestionario: cuestionario.id, evalua: evaluacion.id}) }}"
                              onsubmit="return confirm('¿Eliminar la asignación de evaluación de {{ evaluacion.evaluador.persona }} sobre {{ evaluacion.empleado.persona }}?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cuestionario.id ~ '-' ~ evaluacion.id) }}">
                            <button class="border-0 text-primary">
                                <span class="mx-1 fas fa-trash" title="Desasignar"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
            <caption>
                <span class="me-4">Avisos:</span>
                {%- for indice, aviso in avisos -%}
                    <span class="me-4"><sup class="badge-warning">{{ indice }}</sup> {{ aviso }}</span>
                {%- endfor -%}
                <span class="me-4 px-2 bg-info rounded">Distinta unidad</span>
            </caption>
        </table>
    {%- elseif tipo == constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION') %}
        {# Empleados que rechazan la evaluación #}
        <table class="tabla-condensada" id="datosRechazan">
            <caption class="caption-top">Solicitudes de no evaluación</caption>
            <thead class="cabecera-condensada">
            <tr>
                <th>Unidad</th>
                <th>Doc. empleado</th>
                <th>Nombre empleado</th>
                <th>Fecha solicitud</th>
                <th data-dt-order="disable">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {%- for evaluacion in evaluaciones %}
                <tr>
                    <td>
                        {{- evaluacion.empleado.plazaOcupada ? evaluacion.empleado.plazaOcupada.unidad.nombre
                        : (evaluacion.empleado.plazaTitular ? evaluacion.empleado.plazaTitular.unidad.nombre) -}}
                    </td>
                    <td>{{ evaluacion.empleado.persona.docIdentidad }}</td>
                    <td>{{ evaluacion.empleado.persona }}</td>
                    <td>{{ evaluacion.fechaRechazo|date('Y-m-d') }}</td>
                    <td>
                        <a class="recuperar" href="" data-persona="{{ evaluacion.empleado.persona }}"
                           data-url="{{ path(aplicacion.ruta ~ '_admin_evaluador_recupera', {cuestionario: cuestionario.id, empleado: evaluacion.empleado.id}) }}">
                            <span class="mx-1 fas fa-check" title="Recuperar evaluación"></span>
                        </a>
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
        {#- Falta lista de empleados sin evaluador #}
    {%- endif  %}
{% endblock %}

{% block botones %}
    {%- if tipo != constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_index', {id: cuestionario.id, tipo: constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION')}) }}">
                <span class="fas fa-users"></span> Ver empleados
            </a>
        </li>
    {%- endif %}
    {%- if tipo != constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_index', {id: cuestionario.id, tipo: constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE')}) }}">
                <span class="fas fa-user-check"></span> Ver responsables
            </a>
        </li>
    {%- endif %}
    {%- if tipo != constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_index', {id: cuestionario.id, tipo: constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_OTRO')}) }}">
                <span class="fas fa-user-pen"></span> Ver otros
            </a>
        </li>
    {%- endif %}
    {%- if tipo != constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_index', {id: cuestionario.id, tipo: constant('App\\Entity\\Desempenyo\\Evalua::NO_EVALUACION')}) }}">
                <span class="fas fa-user-times"></span> Ver no evaluados
            </a>
        </li>
    {%- endif %}
    {%- if tipo == constant('App\\Entity\\Desempenyo\\Evalua::AUTOEVALUACION') %}
        <li class="nav-item me-2">
            <button class="btn btn-primary cargar" id="cargarEmpleados"
               data-url="{{ path(aplicacion.ruta ~ '_admin_evaluador_auto', {id: cuestionario.id}) }}">
                <span class="fas fa-person-arrow-down-to-line"></span> Cargar empleados
            </button>
        </li>
    {%- elseif tipo == constant('App\\Entity\\Desempenyo\\Evalua::EVALUA_RESPONSABLE') %}
        <li class="nav-item me-2">
            <a class="btn btn-primary"
               href="{{ path(aplicacion.ruta ~ '_admin_evaluador_carga', {id: cuestionario.id}) }}">
                <span class="fas fa-file-upload"></span> Cargar desde CSV
            </a>
        </li>
        <li class="nav-item me-2">
            <button class="btn btn-primary cargar" id="cargarValida"
                    data-url="{{ path(aplicacion.ruta ~ '_admin_evaluador_volcado', {id: cuestionario.id}) }}">
                <span class="fas fa-cloud-upload"></span> Cargar desde Temponet
            </button>
        </li>
    {%- endif %}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_index') }}">Cuestionarios</a></li>
    <li class="breadcrumb-item">
        <a href="{{ path(aplicacion.ruta ~ '_admin_cuestionario_show', {'id': cuestionario.id}) }}">{{ cuestionario.codigo }}</a>
    </li>
{% endblock %}

{%  block modal %}
    {{- include('layout/_dialogo_confirmar.html.twig') }}
    {{- include('layout/_dialogo_confirmar.html.twig', {
        id: 'dialogoEmpleados',
        pregunta: '¿Cargar datos de empleados para su autoevaluación?'
    }) }}
    {{- include('layout/_dialogo_cargar.html.twig', {id: 'cargandoEmpleados', mensaje: 'Cargando empleados', progreso: false}) }}
    {{- include('layout/_dialogo_confirmar.html.twig', {
        id: 'dialogoValida',
        texto: 'La carga online de validaciones desde Temponet puede tardar bastante tiempo.',
        pregunta: '¿Continuar con la carga de validaciones?'
    }) }}
    {{- include('layout/_dialogo_cargar.html.twig', {id: 'cargandoValida', mensaje: 'Cargando validaciones', progreso: false}) }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module">
        const config = {
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copiar',
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Imprimir',
                },
                {
                    extend: 'csv',
                    text: '<i class="fas fa-file-csv"></i>',
                    titleAttr: 'Generar fichero CSV',
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Generar fichero Excel',
                },
            ],
            dom: '<"row"<"col-sm-12 col-md-4"B><"col-sm-12 col-md-4"l><"col-sm-12 col-md-4"f>>' +
                '<"row"<"col-sm-12"<"table-responsive"tr>>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                url: '{{ asset("includes/datatable.es.json") }}',
            },
        };
        $('#datosEmpleados').dataTable({
            ...config,
            order: [
                [0, 'asc'],
                [1, 'asc'],
            ],
        });
        $('#datosEvaluadores').dataTable({
            ...config,
            order: [
                [1, 'asc'],
            ],
        });
        $('#datosRechazan').dataTable({
            ...config,
            order: [
                [3, 'desc'],
            ],
        });

        // Verificar rechazo y recuperación de autoevaluación
        const dialogo = $('#dialogo');
        $('.rechazar').on('click', function (e) {
            e.preventDefault();
            $('#pregunta').html('¿Rechazar evaluaciones para ' + $(this).data('persona') + '?');
            dialogo.fadeIn('fast').data('url', $(this).data('url'));
            $('.cargar').each(function () {
                $(this).addClass('disabled');
            });
        });
        $('.recuperar').on('click', function (e) {
            e.preventDefault();
            $('#pregunta').html('¿Volver a aceptar evaluaciones para ' + $(this).data('persona') + '?');
            dialogo.fadeIn('fast').data('url', $(this).data('url'));
            $('.cargar').each(function () {
                $(this).addClass('disabled');
            });
        });
        $('#cancelar').on('click', function () {
            dialogo.fadeOut('fast').data('url', '');
            $('.cargar').each(function () {
                $(this).removeClass('disabled');
            });
        });
        $('#aceptar').on('click', function () {
            window.location.href = dialogo.data('url');
        });

        // Carga de empleados
        const dialogoEmpleados = $('#dialogoEmpleados');
        $('#cargarEmpleados').on('click', function (e) {
            e.preventDefault();
            dialogoEmpleados.fadeIn('fast');
            $('.cargar').each(function () {
                $(this).addClass('disabled');
            });
        });
        $('#dialogoEmpleadosCancelar').on('click', function () {
            dialogoEmpleados.fadeOut('fast');
            $('.cargar').each(function () {
                $(this).removeClass('disabled');
            });
        });
        $('#dialogoEmpleadosAceptar').on('click', function () {
            dialogoEmpleados.fadeOut('fast');
            $('#cargandoEmpleados').fadeIn('fast');
            window.location.href = $('#cargarEmpleados').data('url');
        });
        // Volcado de validaciones
        const dialogoValida = $('#dialogoValida');
        $('#cargarValida').on('click', function (e) {
            e.preventDefault();
            dialogoValida.fadeIn('fast');
        });
        $('#dialogoValidaCancelar').on('click', function () {
            dialogoValida.fadeOut('fast');
        });
        $('#dialogoValidaAceptar').on('click', function () {
            dialogoValida.fadeOut('fast');
            $('#cargandoValida').fadeIn('fast');
            window.location.href = $('#cargarValida').data('url');
        });
        $(window).on('unload', function () {
            $('#cargandoEmpleados').hide();
            $('#cargandoValida').hide();
        });
    </script>
{% endblock %}
