{% set id = id|default('modalForm') %}
<dialog id="{{ id }}" class="dialogo-{{ ancho|default('75') }}">
    <div class="flex-grow-0 p-2">
        <div class="float-end" title="Cerrar" onclick="document.querySelector('#{{ id }}').close();">
            <em class="fas fa-times"></em>
        </div>
        <div id="{{ id ~ 'Titulo' }}" class="h3">{{ titulo|default }}</div>
        <div class="border-top border-light pt-3 ">
            <div id="{{ id ~ 'Form' }}"></div>
        </div>
    </div>
</dialog>
