{% set id = id|default('modalConfirma') %}
<dialog id="{{ id }}"
        class="flex position-absolute top-0 bg-dark text-bg-dark rounded-3 shadow-lg z-1 {{ ancho|default('w-50') }}">
    <div class="flex-grow-0 p-2">
        <div id="{{ id ~ 'Texto' }}">{{ texto|default }}</div>
        <div class="border-top border-light py-3">
            <div class="d-inline" id="{{ id ~ 'Pregunta' }}">{{ pregunta|default('¿Continuar?') }}</div>
            <div class="float-end" id="botonesDialogo">
                <a class="btn btn-secondary mx-2" id="{{ id ~ 'Cancelar' }}"
                   onclick="document.querySelector('#{{ id }}').close();">
                    <em class="fas fa-times"></em> {{ cancelar|default('Cancelar') }}
                </a>
                <a class="btn btn-primary" id="{{ id ~ 'Aceptar' }}"
                   onclick="document.querySelector('#{{ id }}').close();">
                    <em class="fas fa-check"></em> {{ aceptar|default('Aceptar') }}
                </a>
            </div>
        </div>
    </div>
</dialog>
